db/development.sqlite3
config/database.yml
tmp/*
log/*.log
db/schema.rb
rerun.txt
capybara-*.html
public/stylesheets/compiled/*
public/assets






app/controllers/images_controller.rb
app/models/image.rb
app/views/images/index.html.erb
app/views/images/new.html.erb
app/views/images/show.html.erb
config/initializers/paperclip.rb
db/migrate/20100527192719_create_images.rb
db/migrate/20100527193029_add_avatar_columns_to_image.rb
test/fixtures/images.yml
test/unit/image_test.rb
vendor/plugins/paperclip/LICENSE
vendor/plugins/paperclip/README.rdoc
vendor/plugins/paperclip/Rakefile
vendor/plugins/paperclip/cucumber/paperclip_steps.rb
vendor/plugins/paperclip/generators/paperclip/USAGE
vendor/plugins/paperclip/generators/paperclip/paperclip_generator.rb
vendor/plugins/paperclip/generators/paperclip/templates/paperclip_migration.rb.erb
vendor/plugins/paperclip/init.rb
vendor/plugins/paperclip/lib/paperclip.rb
vendor/plugins/paperclip/lib/paperclip/attachment.rb
vendor/plugins/paperclip/lib/paperclip/callback_compatability.rb
vendor/plugins/paperclip/lib/paperclip/geometry.rb
vendor/plugins/paperclip/lib/paperclip/interpolations.rb
vendor/plugins/paperclip/lib/paperclip/iostream.rb
vendor/plugins/paperclip/lib/paperclip/matchers.rb
vendor/plugins/paperclip/lib/paperclip/matchers/have_attached_file_matcher.rb
vendor/plugins/paperclip/lib/paperclip/matchers/validate_attachment_content_type_matcher.rb
vendor/plugins/paperclip/lib/paperclip/matchers/validate_attachment_presence_matcher.rb
vendor/plugins/paperclip/lib/paperclip/matchers/validate_attachment_size_matcher.rb
vendor/plugins/paperclip/lib/paperclip/processor.rb
vendor/plugins/paperclip/lib/paperclip/storage.rb
vendor/plugins/paperclip/lib/paperclip/style.rb
vendor/plugins/paperclip/lib/paperclip/thumbnail.rb
vendor/plugins/paperclip/lib/paperclip/upfile.rb
vendor/plugins/paperclip/paperclip.gemspec
vendor/plugins/paperclip/shoulda_macros/paperclip.rb
vendor/plugins/paperclip/tasks/paperclip_tasks.rake
vendor/plugins/paperclip/test/.gitignore
vendor/plugins/paperclip/test/attachment_test.rb
vendor/plugins/paperclip/test/database.yml
vendor/plugins/paperclip/test/fixtures/12k.png
vendor/plugins/paperclip/test/fixtures/50x50.png
