<div id="position9">
  <ul class="menu">

    <li><%= link_to '<img style="position:absolute;left:110px;top:190px;border:none" src="images/NET.jpg" height=20 width=26 /></img>', rc_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>G R E E N &nbsp L I G H T &nbsp N E W &nbsp Y O R K</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:35px;color:#FFFFE0;position:absolute;left:-120px;top:340px;width:500px">D R A W I N G</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:440px;top:360px;width:130px"><i>5 / 17 / 2011</i></p></em>
</li>     

    <li><a style="position:absolute;left:440px;top:220px;width:5px" href="http://cloudterior.blogspot.com/2011/05/integrated-project-delivery.html" target="_blank"><img style="border:none" src="images/NET.jpg" height=20 width=25 /></font></a>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>I N T E G R A T E D &nbsp P R O J E C T &nbsp D E L I V E R Y</i></p></em>
    </li>

  </ul>
  
<p style="font-family:arial;font-size:20px;color:#C0C0C0;position:absolute;left:500px;top:240px">http://architectfinder.aia.org/</p>

  
  
<p><%= link_to '<img style="display:none;border:none;position:absolute;left:456px;top:94px" src="images/button-w5.jpg" height=21 width=28 /></img>', root_path %></p>
  
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>