<img style="position:absolute;left:310px;top:225px" src="images/portfolio/ent1010289.jpg" height=240 width=320>


<img style="position:absolute;left:650px;top:205px" src="images/portfolio/P1010293.jpg" height=137 width=180>

<img style="position:absolute;left:110px;top:270px" src="images/portfolio/P1010295s.jpg" height=180 width=180>

<img style="position:absolute;left:650px;top:365px" src="images/portfolio/P1010291.jpg" height=90 width=120>

<img style="position:absolute;left:170px;top:160px" src="images/portfolio/P1010082.jpg" height=90 width=120>

<p style="position:absolute;left:640px;top:-2px;font-family:arial;color:#333300;font-size:40px">education</p>

