<div id="position3">

 <ul class="menu">
      <li>
      <a 
      style="position:absolute;top:50px;width:400px" target="_blank"><img style="border:none" src="images/iap3.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:900px"></p></em>
    </li>

    <li><p style="display:none"></p><%= link_to '<img style="display:none;position:absolute;left:650px;top:-120px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', directory_path %>
    <em><p align="center" style="font-size:12px;font-family:arial;position:absolute;left:15px;top:-215px;width:850px;color:#333300"><i></i></p></em></li>

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:450px;top:210px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', rg_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>T R A N S I T &nbsp O R I E N T E D</i></p></em></li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:52px;color:#C0C0C0;position:absolute;left:80px;top:260px;width:500px">L O C A T I O N</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:90px;top:310px;width:130px"><i>4 / 12 / 2011</i></p></em>
</li>     

  </ul>
  
  <p style="position:absolute;left:200px;top:480px;color:#333300"><==</p>

<p><%= link_to '<img style="border:none;position:absolute;left:216px;top:92px" src="images/button-s4.jpg" height=21 width=28 /></img>', root_path %></p>

</div>


<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "slow");
});
</script>