<div id="position3">

 <ul class="menu">
    
    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:680px;top:260px;border:none" src="images/NET.jpg" height=22 width=26 /></img>', ec_path %>
    <em><p align="center" style="font-size:25px;font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>S O L A R &nbsp D E C A T H L O N</i></p></em></li>    

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:450px;top:210px;border:none" src="images/NET.jpg" height=22 width=26 /></img>', rg_path %>
    <em><p align="center" style="font-size:25px;font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>T R A N S I T &nbsp O R I E N T E D</i></p></em></li>

    <li>    
<%= link_to '<p style="text-align:left;font-family:arial;font-size:35px;color:#FFFFE0;position:absolute;left:140px;top:340px;width:500px">L O C A T I O N</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:420px;top:360px;width:130px"><i>4 / 12 / 2011</i></p></em>
</li>     

  </ul>
  

<p><%= link_to '<img style="display:none;border:none;position:absolute;left:216px;top:75px" src="images/button-s4.jpg" height=55 width=28 /></img>', root_path %></p>

</div>


<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "slow");
});
</script>