<%= render :partial => 'welcome/header' %>
<div><%= render :partial => 'welcome/side_left' %></div>

<%= render :partial => 'rc/position3' %>

<div><%= link_to '<p style="display:none;font-family:arial;font-size:30px;position:absolute;left:100px;top:120px">login coming soon.</p>', root_path %></div>



<p><img style="display:none;position:absolute;left:470px;top:175px" src="images/1JPGC.jpg" height=20 width=220 /></p>


 </div>
 <div class="hpage_fill" style="display:none;position:absolute;left:50px;top:5px">
 </div>


 
 <div style="position:absolute;left:445px;top:180px"><a style="font-family:arial;color:#333300;font-size:30px">r &nbsp e &nbsp s &nbsp o &nbsp u &nbsp r &nbsp c &nbsp e &nbsp s &nbsp :</a></div>
  
  
<p style="font-family:arial;font-size:20px;color:#C0C0C0;position:absolute;left:500px;top:240px">http://architectfinder.aia.org/</p>

    
    
 <a href="javascript: history.go(-1)" style="text-align:center;font-family:arial;font-size:15px;color:#333300;position:absolute;left:580px;top:420px;width:500px;height:30px"><==</a>



