.header {
	background: #333333;
	position:absolute;left:400px;top:8px;width:500px;
	padding:5px;
	border: display:none;3px solid;
	border-color: #008000;
	font: 20px/20px "Monaco";
	color: #FFFFFF;
	text-align: left;
}

.header a:link { 
	color: #FFFFFF;
	text-decoration: none;
}

.header a:visited { 
	color: #FFFFFF;
	text-decoration: none;
}

.header_fill {
	background: #333333;
	position:absolute;left:400px;top:70px;width:480px;
	padding:15px;
	border: display:none;3px solid;
	border-color: #008000;
	font: 20px/20px "Monaco";
	color: #FFFFFF;
	text-align: left;
}

.spanflav {
	font: 15px/15px "Monaco";
	text-align: left;
}

div#tweets {
	background: #333333;
	padding: 2em;
	text-align: right;
	font: 10px/10px "Monaco";
}

div#twitter {
	text-decoration: none;
	color: #282828;
	margin-left: 30em;
}

div#twitter a:link {
	text-decoration: none;
	color: #282828;
}
div#twitter a:visited {
	text-decoration: none;
	color: #282828;
}

div#subposition1 {
	display: none;
}

div#val {
	background: white;
	position:absolute;left:220px;top:100px;width:210px;
	padding: 1px;
	text-align: center;
	font: 20px/20px "Monaco";
	margin-left: 10em;
}

div#val a:link {
	text-decoration: none;
	color: #CC9900;
}
div#val a:visited {
	text-decoration: none;
	color: #CC9900;
}

div#arc {
	background: white;
	position:absolute;left:520px;top:125px;width:270px;
	padding: 1px;
	text-align: center;
	font: 20px/20px "Monaco";
}

div#arc a:link {
	text-decoration: none;
	color: #99CC66;
}
div#arc a:visited {
	text-decoration: none;
	color: #33cc66;
}

div#eco {
	background: white;
	position:absolute;left:670px;top:100px;width:250px;
	padding: 1px;
	text-align: center;
	font: 20px/20px "Monaco";
}

div#eco a:link {
	text-decoration: none;
	color: #C0C0C0;
}
div#eco a:visited {
	text-decoration: none;
	color: #C0C0C0;
}

div#pla {
	background: white;
	position:absolute;left:595px;top:150px;width:300px;
	padding: 1px;
	text-align: center;
	font: 20px/20px "Monaco";
}

div#pla a:link {
	text-decoration: none;
	color: #FF9900;
}
div#pla a:visited {
	text-decoration: none;
	color: #FF9900;
}
