.header {
	background: none;
	position:absolute;left:280px;top:8px;width:50px;
	padding:50px;
	border: display:none;3px solid;
	border-color: #008000;
	font: 20px/20px "Monaco";
	color: #E0E0E0;
	text-align: left;
}

.header a:link { 
	color: #FFFFFF;
	text-decoration: none;
}

.header a:visited { 
	color: #FFFFFF;
	text-decoration: none;
}

.header_fill {
	background: #333333;
	position:absolute;left:400px;top:35px;width:420px;
	padding:25px;
	border: display:none;3px solid;
	border-color: #008000;
	font: 20px/20px "Monaco";
	color: #FFFFFF;
	text-align: left;
}

.header_fill {
	background: #333333;
	display:none;position:absolute;left:400px;top:65px;width:480px;
	padding:15px;
	border: display:none;3px solid;
	border-color: #008000;
	font: 20px/20px "Monaco";
	color: #FFFFFF;
	text-align: left;
}

.spanflav {
	font: 15px/15px "Monaco";
	text-align: left;
}

div#tweets {
	background: #233000;
	padding: 2em;
	text-align: right;
	font: 10px/10px "Monaco";
}

div#twitter {
	text-decoration: none;
	color: #282828;
	margin-left: 5px;
}

div#twitter a:link {
	text-decoration: none;
	color: #282828;
}
div#twitter a:visited {
	text-decoration: none;
	color: #282828;
}

div#subposition1 {
	display: none;
}

div#val {
	background: none;
	position:absolute;left:100px;top:80px;width:160px;
	padding: 1px;
	text-align: center;
	font: 15px/15px "arial";
	margin-left: 1em;
}

div#val a:link {
	text-decoration: none;
	color: darkblue;
}
div#val a:visited {
	text-decoration: none;
	color: darkblue;
}

div#arc {
	background: E0E0E0;
	position:absolute;left:210px;top:80px;width:270px;
	padding: 1px;
	text-align: center;
	font: 15px/15px "arial";
}

div#arc a:link {
	text-decoration: none;
	color: darkgreen;
}
div#arc a:visited {
	text-decoration: none;
	color: darkgreen;
}

div#eco {
	background: none;
	position:absolute;left:395px;top:80px;width:250px;
	padding: 1px;
	text-align: center;
	font: 15px/15px "arial";
}

div#eco a:link {
	text-decoration: none;
	color: black;
}
div#eco a:visited {
	text-decoration: none;
	color: black;
}

div#pla {
	background: E0E0E0;
	position:absolute;left:540px;top:80px;width:300px;
	padding: 1px;
	text-align: center;
	font: 15px/15px "arial";
}

div#pla a:link {
	text-decoration: none;
	color: darkred;
}
div#pla a:visited {
	text-decoration: none;
	color: darkred;
}
