<div id="position8">
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;top:50px;width:400px" target="_blank"><img style="border:none" src="images/iap8.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:580px;top:110px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', root_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>B I D D I N G &nbsp O R &nbsp N E G O T I A T I O N &nbsp C O O R D I N A T I O N</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:720px;top:170px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', rc_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>N A T I O N A L &nbsp I N S T I T I U T E &nbsp O F &nbsp B U I L D I N G &nbsp S C I E N C E S</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:51px;color:#C0C0C0;position:absolute;left:190px;top:260px;width:600px">C O M M I S S I O N I N G</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:50px;top:310px;width:200px"><i>4 / 12 / 2011</i></p></em>
</li>     
 
  </ul>
  <p style="position:absolute;left:410px;top:480px;color:#333300"><==</p>

<p><%= link_to '<img style="border:none;position:absolute;left:416px;top:94px" src="images/button-s3re.jpg" height=21 width=28 /></img>', root_path %></p>

</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>