<div id="position15">
  <ul class="menu">  

    <li><%= link_to '<img style="position:absolute;left:180px;top:190px;border:none" src="images/NET.jpg" height=20 width=26 /></img>', ec_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>P H O T O V O L T A I C &nbsp T R A N S P A R E N T &nbsp G L A S S</i></p></em>
    </li>

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:50px;top:170px;border:none" src="images/NET.jpg" height=20 width=26 /></img>', h_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>O P T I C A L &nbsp B A T T E R Y</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:35px;color:#FFFFE0;position:absolute;left:-20px;top:340px;width:550px">C O N S T R U C T I O N</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:640px;top:360px;width:130px"><i>4 / 12 / 2011</i></p></em>
</li>     

  </ul>
  

  <p><%= link_to '<img style="display:none;border:none;position:absolute;left:696px;top:94px" src="images/button-sp4ea1.jpg" height=21 width=28 /></img>', root_path %></p>

</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "slow");
});
</script>

