

    
<div><%= link_to '<img style="display:none;border:none;height:100px;width:900px" src="images/SUB2.jpg"></img>', root_path %>
  
<div class="header">
  <table width="95%">
    <tr>
  </table>
  



</div>
  </div>
   <div style="position:absolute;left:563px;top:510px"><a style="color:darkgrey"><font size="1"><small>copyright &copy 2011</small></font></a></div>
  <div><img style="position:absolute;left:640px;top:510px;border:none;height:20px;width:100px" src="images/Untitled-2.jpg">   
   <div style="position:absolute;left:740px;top:510px"><a style="color:darkgrey"><font size="1"><small>all rights reserved</small></font></a></div>

<p style="position:absolute;left:50px;top:1300px;color:#C0C0C0">architecturenergy.com</p>

<td><a style="position:absolute;top:140px;left:150px" href="mailto:infravironment@architellect.com" target="_blank"><p>Architectural Design</p> contact via e-mail</a></td>
