<%= render :partial => 'directory/header_s' %>


<h1 style="display:none">Listing directories</h1>

 </div>
 <div class="hpage_fill" style="position:absolute;left:50px;top:5px">
 </div>

 <div style="position:absolute;left:115px;top:40px"><a style="font-family:arial;color:#333300;font-size:40px">Architellect</a></div>


 
 <div style="position:absolute;left:115px;top:1080px"><a style="font-family:arial;color:#333300;font-size:30px">r &nbsp e &nbsp s &nbsp o &nbsp u &nbsp r &nbsp c &nbsp e &nbsp s &nbsp :</a></div>
  
  
 <div style="position:absolute;left:115px;top:240px;width:400px"><a style="font-family:arial;color:#333300;font-size:30px">Architectural vision to support unsurpassed sustainable building design


through ongoing research into the very latest knowledge of optimal building performance</a></div>
  
  
<p style="font-family:arial;font-size:20px;color:#C0C0C0;position:absolute;left:130px;top:1150px">http://architectfinder.aia.org/</p>

    
    
