<h1 style="display:none">Listing directories</h1>

 </div>
 <div class="hpage_fill" style="position:absolute;left:50px;top:5px">
 </div>

  <%= render :partial => 'welcome/header' %>


 
 <div style="position:absolute;left:445px;top:180px"><a style="font-family:arial;color:#333300;font-size:30px">r &nbsp e &nbsp s &nbsp o &nbsp u &nbsp r &nbsp c &nbsp e &nbsp s &nbsp :</a></div>
  
  
<p style="font-family:arial;font-size:20px;color:#C0C0C0;position:absolute;left:500px;top:240px">http://architectfinder.aia.org/</p>

    
    
 <a href="javascript: history.go(-1)" style="text-align:center;font-family:arial;font-size:15px;color:#333300;position:absolute;left:180px;top:80px;width:500px;height:30px"><==</a>