<%= render :partial => 'directory/header_s' %>


<h1 style="display:none">Listing directories</h1>

 </div>
 <div class="hpage_fill" style="position:absolute;left:50px;top:5px">
 </div>

 <div style="position:absolute;left:115px;top:40px"><a style="font-family:arial;color:#333300;font-size:30px">Eric Downie, AIA</a></div>

 <div style="position:absolute;left:115px;top:80px"><a style="font-family:arial;color:#333300;font-size:18px">mobile tel: 315-289-5568</a></div>

 
 <div style="position:absolute;left:115px;top:1080px"><a style="font-family:arial;color:#333300;font-size:30px">r &nbsp e &nbsp s &nbsp o &nbsp u &nbsp r &nbsp c &nbsp e &nbsp s &nbsp :</a></div>
  
  
<p style="font-family:arial;font-size:20px;color:#C0C0C0;position:absolute;left:130px;top:1150px">http://architectfinder.aia.org/</p>

    
    
<a style="position:absolute;left:100px;top:250px;width:400px">
<p>5144 Highbridge St. Fayetteville, NY 13066</p>

<p>Education: Bachelor of Architecture
Syracuse University School of Architecture - Class of '93</p>
<p>Member Phi Kappa Phi Honor Society</p><p>
Professional skills: programming, sketching, multi-color presentation, cad/building information modeling, facilitation of procurement processes, construction contract administration
Attended October 2010 Association for Computer Aided Design in Architecture conf. in NYC</p>

Work history with Architectural firms in Syracuse, New York:</p>

<p>Near West Side project 2010
Artist studio and residence Freelance, drew BIM documents for rehabilitation & reuse
<p>
Everson Museum project 2009
Designed entrance reconstruction, plaza granite paver and waterproofing replacement; 

N. Syracuse project 2008
Designed and drew a house addition with new second floor in Lyncourt; 

Syracuse University Hall of Languages project 2008
Coordinated scope out and documented membrane roof replacement and slate restoration; 

Jamesville project 2007
ICF and wood frame house did addition drawings and field construction observation; 

Dewitt project 2006
 Plaza facade renovation designed and did construction documents;  

Manlius project 2005
New worship center schematic, design and contract management; 

Syracuse City S.D. project 2005
Serving line and cafeteria: did renovation drawings and job site visits; Henninger High School;

West Genesee School District projects 1998-2004
Team leader; district wide renovations and complete High School reconstruction and additions;

Fayetteville-Manlius S.D. projects 1998
Design and drafting for K-12 renovations and additions</p>

Architecture Intern: Robertson Strong Apgar Architects, Syracuse, NY; Marshall & Richards Architects, Fayetteville, NY; C Dorel Architects, Tel Aviv, Israel; RTKL Assoc., Washington, D.C.
</a>