<div id="position10">
  <ul class="menu"> 

    <li><p style="display:none"></p><%= link_to '<img style="position:relative;left:650px;top:150px;border:none" src="images/NET.jpg" height=20 width=26 /></img>', te_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>F O R M - B A S E D &nbsp Z O N I N G</i></p></em>
    </li>

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:350px;top:150px;border:none" src="images/NET.jpg" height=20 width=26 /></img>', i_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:800px;color:#333300"><i>B U I L D I N G &nbsp C O N D I T I O N &nbsp E V A L U A T I O N &nbsp A N D &nbsp I M P R O V E M E N T &nbsp P R I O R I T I E S</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:35px;color:#FFFFE0;position:absolute;left:-220px;top:340px;width:500px">P L A C E</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:340px;top:360px;width:130px"><i>4 / 12 / 2011</i></p></em>
</li>     

  </ul>
  
  
  <p><%= link_to '<img style="display:none;border:none;position:absolute;left:496px;top:94px" src="images/button-sp3re.jpg" height=21 width=28 /></img>', root_path %></p>

</div>


<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>
