<div id="position10">
  <ul class="menu"> 
    
    <li>
      <a
      style="position:absolute;top:50px" target="_blank"><img style="border:none" src="images/iap10.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>

    <li><p style="display:none"></p><%= link_to '<img style="position:relative;left:650px;top:150px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', te_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>F O R M - B A S E D &nbsp Z O N I N G</i></p></em>
    </li>

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:50px;top:150px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', directory_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>R U R A L &nbsp L A N D S C A P E</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:52px;color:#C0C0C0;position:absolute;left:-15px;top:260px;width:500px">P L A C E</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:130px;top:310px;width:130px"><i>4 / 12 / 2011</i></p></em>
</li>     

  </ul>
  
  <p style="position:absolute;left:490px;top:480px;color:#333300"><==</p>
  
  <p><%= link_to '<img style="border:none;position:absolute;left:496px;top:94px" src="images/button-sp3re.jpg" height=21 width=28 /></img>', root_path %></p>

</div>


<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>
