      <a 
      style="font-family:arial;font:bold;position:absolute;left:40px;top:780px;width:820px;color:#C0C0C0;size:1;text-align:left"><p>subject / links are not endorsements; and per this <font color="#333300">exit disclaimer</font>,
      no claim regarding any provided external URL can ever be made either that architecturenergy.com in any way endorses the usage policy, content or reliability of their information, nor that there is
      necessarily any foreknowledge or consent by that party regarding the transfer to their site.</p></a>
