<table>
  <tr>
    <td width="33%"></td>
    <td width="33%"></td>
    <td width="33%">
      <div class="footer"><%= image_tag("arrow.png", :size => "27x22") %><a href="http://www.visualcv.com/edownie">Need an Architect?</a></div>
    </td>
  </tr>
</table>