<td><%= link_to '<img style="border:none" src="images/SUB2.jpg"></img>', root_path %></div></td>

   <div style="position:absolute;left:720px;top:170px"><a style="color:grey"><font size="1"><small>copyright 2010 &copy E.J.D. &nbsp all rights reserved</small></font></a></div>
<div class="header">
      <table width="95%">
        <tr>
          <td><div style="display:none;position:absolute;left:-310px"><%= link_to '<font size="4"><a style="color:black"><bold>a r c h i t e c t u r e n e r g y</bold></a></font>', root_path %></div></td>
            
          <span style="display:none">WEBSITE:Cloudroid</span>
          <td><div style="position:absolute;left:-312px;top:46px"><a style="color:black"><bold>a r c h i t e c t u r e n e r g y</bold></a></div></td>
          <td><div style="align:center;position:absolute;left:30px;top:90px;width;80px"><a style="color:tan" href="http://www.architecturenergy.com/value">c l e a n &nbsp t e c t o n i c s</a></div></td>
          <td><div style="position:absolute;left:110px;top:115px"><a style="color:lightgreen" href="http://www.architecturenergy.com/architecture">i n t e l l i g e n t &nbsp c o n s u l t i n g</a></div></td>
          <td><div style="position:absolute;left:290px;top:90px"><a style="color:lightgrey" href="http://www.architecturenergy.com/ecology">o r g a n i c &nbsp u t i l i t i e s</a></div></td>
          <td><div style="position:absolute;left:190px;top:140px"><a style="color:orange" href="http://www.architecturenergy.com/place">i n n o v a t i v e &nbsp c o m m u n i t i e s</a></div></td>
          <td><div id="tweets">   
          <%= @tweet.description %><br/>
          (<small><%= @tweet.tweeted_at %></small>)

          
          
          
          <td><i><a href="http://twitter.com/cloudalog" target="_blank">TWITTER</a></i></td>
        </tr>
      </table>
      
      

</div>