<div class="header">
      <table width="95%">
        <tr>
          <td><%= link_to '<font size="3">a r c h i t e c t u r e n e r g y</font>', root_path %></td>
            <!-- <td><%= link_to 'architecturenergy', :controller => 'sessions', :action => 'new' %></td> -->
          <span style="display:none">WEBSITE:Cloudroid</span>
          <td><a style="color:tan">driving</a></td>
          <td><a style="color:lightgreen">sustainable</a></td>
          <td><a style="color:lightgrey">urban</a></td>
          <td><a style="color:orange">value</a></td>
          <td><div id="tweets">   
           <% @tweets.each do |tweet| %>
           <%= tweet.description %><br/>
           (<small><%= tweet.tweeted_at %></small>)
           <% end %>
          
          
          
          <td><i><a href="http://twitter.com/cloudalog" target="_blank">TWITTER</a></i></td>
        </tr>
      </table>
      
      

</div>