
    
<div style="position:absolute;left:80px;top:70px;width:750px"><a style="font-family:arial;color:#333300;font-size:30px"><b>A &nbsp R &nbsp C &nbsp H &nbsp I &nbsp T &nbsp E &nbsp C &nbsp T &nbsp U &nbsp R &nbsp E &nbsp N &nbsp E &nbsp R &nbsp G &nbsp Y</b></a></div>
<div><%= link_to '<img style="display:none;border:none;height:100px;width:900px" src="images/SUB2.jpg"></img>', root_path %>
  
<div class="header">
  <table width="95%">
    <tr>
      <td><div style="display:none;position:absolute;left:-310px"><%= link_to '<font size="4"><a style="color:#333300"><bold>a r c h i t e c t u r e n e r g y</bold></a></font>', root_path %></div></td>
    <span style="display:none">WEBSITE:</span>
  </table>
  

</div>
  </div>
   <div style="position:absolute;left:563px;top:510px"><a style="color:darkgrey"><font size="1"><small>copyright &copy 2011</small></font></a></div>
  <div><img style="position:absolute;left:640px;top:510px;border:none;height:20px;width:100px" src="images/Untitled-2.jpg">   
   <div style="position:absolute;left:740px;top:510px"><a style="color:darkgrey"><font size="1"><small>all rights reserved</small></font></a></div>

<p style="position:absolute;left:50px;top:1300px;color:#C0C0C0">architecturenergy.com</p>
