    <td><a><img style="border:none;position:absolute;left:50px;top:5px" src="images/spot1.jpg" height=120 width=120 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:170px;top:5px" src="images/co1.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:210px;top:5px" src="images/street4-ea.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:250px;top:5px" src="images/model11-re.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:290px;top:5px" src="images/model2a.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:330px;top:5px" src="images/spot5-ea.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:370px;top:5px" src="images/building3-ea.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:410px;top:5px" src="images/street3-re.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:450px;top:5px" src="images/water5.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:490px;top:5px" src="images/spot3-re.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:530px;top:5px" src="images/street2-ea.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:570px;top:5px" src="images/building2-re.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:610px;top:5px" src="images/building4-ea.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:650px;top:5px" src="images/street1-re.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:690px;top:5px" src="images/spot4-ea1.jpg" height=120 width=40 /></a></p></td>
    <td><a><img style="border:none;position:absolute;left:730px;top:5px" src="images/spot6.jpg" height=120 width=120 /></a></p></td>
<div style="position:absolute;left:145px;top:30px;height:70px;width:680px"><a style="font-family:arial;color:#333300;font-size:30px">a &nbsp r &nbsp c &nbsp h &nbsp i &nbsp t &nbsp e &nbsp c &nbsp t &nbsp u &nbsp r &nbsp e &nbsp n &nbsp e &nbsp r &nbsp g &nbsp y</a></div>
<div><%= link_to '<img style="display:none;border:none;height:100px;width:900px" src="images/SUB2.jpg"></img>', root_path %>
  
<div class="header">
  <table width="95%">
    <tr>
      <td><div style="display:none;position:absolute;left:-310px"><%= link_to '<font size="4"><a style="color:black"><bold>a r c h i t e c t u r e n e r g y</bold></a></font>', root_path %></div></td>
    <span style="display:none">WEBSITE:</span>
    <td><div style="position:absolute;left:-230px;top:520px;font-family:arial" id="tweets">   
      <%= @tweet.description %><br/>
      (<small><%= @tweet.tweeted_at %></small>)</div>
    </td>
    <td><i><a style="position:absolute;left:-80px;top:580px;font-family:arial" href="http://twitter.com/cloudalog" target="_blank">TWITTER</a></i></td>
    </tr>
  </table>
  
 </div>
 <div class="header_fill" style="position:absolute;left:50px;top:480px">
 </div>

</div>
  </div>
   <div style="position:absolute;left:585px;top:510px"><a style="color:darkgrey"><font size="1"><small>copyright &copy 2011</small></font></a></div>
  <div><img style="position:absolute;left:650px;top:510px;border:none;height:20px;width:100px" src="images/Untitled-2.jpg">   
   <div style="position:absolute;left:755px;top:510px"><a style="color:darkgrey"><font size="1"><small>all rights reserved</small></font></a></div>
