<div id="position11" style="display:none">
  <ul class="menu"> 
    <li>    
      <a 
      style="position:absolute;top:-230px;width:400px" target="_blank"><img style="border:none" src="images/iap11.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display;none;position:absolute;left:20px;top:280px;width:900px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>  

    <li><p style="display:none">800</p><a style="position:absolute;left:800px;top:-210px;color:green;width:5px" href="http://acinational.org/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="right" style="font-family:arial;position:absolute;left:15px;top:-270px;width:850px;color:#333300"><i>18 FEBRUARY 2011</i></p></em>
    </li>

    <li>    
      <a style="position:absolute;left:570px;top:-20px;width:110px;color:#C0C0C0;size:1;text-align:center" 
      href="http://domesticfuel.com/" target="_blank"><font size="5">11</font></a>
    </li>     
    
  </ul>    
<div><%= link_to '<img style="border:none;position:absolute;left:530px;top:220px" src="images/street2-ea.jpg" height=120 width=40 />', root_path %>
<p style="position:absolute;left:540px;top:330px;color:#333300"><==</p>
  </div>
  </div>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>
