<div id="position9" style="display:none">
  <ul class="menu">
    <li>    
      <a 
      style="position:absolute;top:-180px;width:400px" target="_blank"><img style="border:none" src="images/iap9.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:900px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:410px;top:-20px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', directory_path %>
    <em><p align="center" style="display:none;font-family:arial;position:absolute;left:15px;top:-215px;width:850px;color:#333300"><i>E N E R G Y &nbsp S E C U R I T Y &nbsp S T R A T E G Y</i></p></em>
    </li>

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:790px;top:-150px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', value_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-220px;width:850px;color:#333300"><i>A N A L Y S I S &nbsp O F &nbsp A L T E R N A T E S &nbsp / &nbsp S U B S T I T U T I O N S</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:52px;color:#C0C0C0;position:absolute;left:80px;top:30px;width:500px">D R A W I N G</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:110px;top:80px;width:130px"><i>4 / 7 / 2011</i></p></em>
</li>     

  </ul>
  
  <p style="position:absolute;left:450px;top:230px;color:#333300"><==</p>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>