<div id="position9" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:155px;top:80px" >9 &nbsp/ refresh /</a>
    </p>
  <ul class="menu">
    <li>    
      <a 
      style="position:absolute;left:10px;top:190px;width:12px" target="_blank"><img style="border:none" src="images/iap9.jpg" height=23 width=150 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:900px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li><a style="position:absolute;top:-95px;color:green;width:5px" href="http://www.cutter.com/summit/2010.html" target="_blank">10/3/<p>2010</p></a>
    <em><p align="center" style="position:absolute;left:20px;top:280px;width:1000px">S m a r t &nbsp B u s i n e s s &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>
    <li>
      <a 
      style="display:none;position:absolute;left:5px;top:-110px;color:blue" href="http://www.smartconsumergroup.com/" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:-180px;top:-185px;width:1000px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:130px;top:810px" href="http://www.electricnet.com/article.mvc/EDSAs-Real-Time-System-Monitoring-And-0001?VNETCOOKIE=NO" target="_blank">ElectricNet</a>		
      <em><p align="center" style="position:absolute;left:120px;top:550px;width:700px">JUNE 2010//Smart Grids Summit 2010 From 13th -14th September in Malaga, Spain
</p></em>
    </li>
    <li>
      <a style="position:absolute;left:210px;top:750px" href="http://www.itbusinessedge.com/" target="_blank">itbusinessedge</a>		
      <em><p align="center" style="position:absolute;left:120px;top:550px;width:700px">work in progress</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:100px;top:680px" href="http://www.usarchitecture.com/index.htm" target="_blank">usarchitecture</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">home</p></em>
    </li>
    <li>
      <a style="position:absolute;left:500px;top:80px;width:90px" href="http://www.renewableenergyworld-events.com/index.html" target="_blank">compose</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:710px;top:-75px;width:200px" href="http://www.rff.org/Pages/default.aspx" target="_blank">commit</a>		
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:700px">October 8-11, 2010 Cass Gilbert Society Detroit Tour</em>
    </li>
    <li>
      <a 
      style="position:absolute;left:200px;top:840px;width:250px" href="http://www.businessgreen.com/" target="_blank">UK</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">test</p></em>
    </li>
    <li>
      <a style="position:absolute;left:520px;top:-120px;width:90px" href="http://civictechnologies.com/" target="_blank">benefit</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:450px;top:20px;width:90px" href="http://www.rael-sanfratello.com/" target="_blank">jolt</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>
    <li>
      <a style="position:absolute;left:760px;top:80px;width:90px" href="http://www.mathworks.com/" target="_blank">productive</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>
    <li>
      <a style="position:absolute;left:460px;top:-80px;width:90px" href="http://www.buildinggreen.com/" target="_blank">edgy</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>
    <li>    
      <a style="position:absolute;left:570px;top:-30px;width:110px;color:#C0C0C0;size:1;text-align:center" href="http://wilderness.org/" target="_blank"><font size="5">green integration...</font></a>
    </li>      
    <li>
      <a 
      style="position:absolute;top:220px;width:910px;color:#C0C0C0;size:1;text-align:left"><p>subject / links; and per this <font color="black">exit disclaimer</font>,
      no claim regarding any provided external URL can ever be made either that architecturenergy.com in any way endorses the usage policy, content or reliability of their information, nor that there is
      necessarily any foreknowledge or consent by that party regarding the transfer to their site.</p></a>	
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">JUNE 2010 disclaimer /click an image for additional links</p></em>
    </li>       
  </ul>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({display:none, opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>