<div id="position11" style="display:none">
  <ul class="menu"> 
    <li>    
      <a 
      style="position:absolute;top:-230px;width:400px" target="_blank"><img style="border:none" src="images/iap11.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display;none;position:absolute;left:20px;top:280px;width:900px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>  

    <li>
    <a style="position:absolute;left:220px;top:-120px;color:green;width:5px" href="http://www.duo-gard.com/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">d a y l i g h t i n g &nbsp e n v e l o p e</p></em>
    </li>

    <li>
    <a style="position:absolute;left:750px;top:80px;color:green;width:5px" href="http://www.crossvilleinc.com/index.html" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">b e a u t i f u l l y &nbsp g r e e n</p></em>
    </li>

    <li>
    <a style="position:absolute;left:650px;top:-50px;color:green;width:5px" href="http://www.national.com/analog" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">p o w e r &nbsp a r c h i t e c t</p></em>
    </li>

    <li>
    <a style="position:absolute;left:310px;top:-30px;color:green;width:5px" href="http://soladigm.com/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">g r e e n &nbsp b u i l d i n g</p></em>
    </li>

    <li>
    <a style="position:absolute;left:250px;top:-70px;color:green;width:5px" href="http://www.konarka.com/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">g r e e n &nbsp e x p a n s i o n</p></em>
    </li>

    <li>
    <a style="position:absolute;left:750px;top:-70px;color:green;width:5px" href="http://www.emrs-strasbourg.com/index.php?option=com_content&task=view&Itemid=114&id=307" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">m a t e r i a l s &nbsp r e s e a r c h</p></em>
    </li>

    <li>
    <a style="position:absolute;left:450px;top:-160px;color:green;width:5px" href="http://www.globalspec.com/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">g l o b a l &nbsp s p e c</p></em>
    </li>

    <li>
    <a style="position:absolute;left:450px;top:-40px;color:green;width:5px" href="http://coruspanelsandprofiles.wordpress.com/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">p a n e l &nbsp s t y l e</p></em>
    </li>

    <li>
    <a style="position:absolute;left:80px;top:-100px;color:green;width:5px" href="http://www.displax.com/index.php" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">d i s p l a y &nbsp s e r v i c e</p></em>
    </li>

    <li>    
      <a style="position:absolute;left:570px;top:-20px;width:110px;color:#C0C0C0;size:1;text-align:center" 
      href="http://domesticfuel.com/" target="_blank"><font size="5">11</font></a>
    </li>     
    
  </ul>    
<div><%= link_to '<img style="border:none;position:absolute;left:530px;top:220px" src="images/street2-ea.jpg" height=120 width=40 />', root_path %>
<p style="position:absolute;left:540px;top:330px;color:#333300"><==</p>
  </div>
  </div>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>
