<div id="position12" style="display:none">
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;top:-180px;width:400px" target="_blank"><img style="border:none" src="images/iap12.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:420px;top:-100px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', directory_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:-220px;width:850px;color:#333300"><i>N E I G H B O R H O O D &nbsp D E S I G N &nbsp A N D &nbsp D E V E L O P M E N T</i></p></em>
    </li>

    <li>
    <a style="display:none;position:absolute;left:50px;top:-70px;color:green;width:5px" href="http://www.powerplanters.com/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">update smart grid</p></em>
    </li>

    <li>
    <a style="display:none;position:absolute;left:810px;top:-100px;color:green;width:5px" href="http://www.betterplace.com/the-company-pressroom" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-260px;width:850px;color:#333300">mobile underground service built-in</p></em>
    </li>

    <li>
    <a style="display:none;position:absolute;left:550px;top:-120px;color:green;width:5px" href="http://www.displax.com/index.php" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">span</p></em>
    </li>

    <li>
    <a style="display:none;position:absolute;left:50px;top:-120px;color:green;width:5px" href="http://www.konarka.com/" target="_blank"><p>1/14/<br />2011</a>
    <em><p align="center" style="position:absolute;left:15px;top:-180px;width:1000px">none</p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:46px;color:#C0C0C0;position:absolute;left:125px;top:40px;width:550px">C E R T I F I C A T I O N</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:50px;top:80px;width:130px"><i>4 / 7 / 2011</i></p></em>
</li>     

  </ul>
  
  <p style="position:absolute;left:580px;top:230px;color:#333300"><==</p>
  
  <p><%= link_to '<img style="border:none;position:absolute;left:568px;top:-158px" src="images/button-b2re.jpg" height=21 width=28 /></img>', root_path %></p>

</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>
