<div id="position9" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:155px;top:80px" >9 &nbsp/ refresh /</a>
    </p>
  <ul class="menu">
    <li>    
      <a 
      style="position:absolute;top:280px;width:12px"  href="mailto:ejm5144@veizon.net" target="_blank"><img style="border:none" src="images/iap9.jpg" height=45 width=300 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:900px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li><a style="position:absolute;left:25px;top:-35px;color:green;width:5px" href="http://www.smartconsumergroup.com/" target="_blank">link</a>
    <em><p align="center" style="position:absolute;left:20px;top:280px;width:1000px">S m a r t &nbsp B u s i n e s s &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:5px;top:-110px;color:blue" href="http://www.smartconsumergroup.com/" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:-180px;top:-185px;width:1000px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:130px;top:810px" href="http://www.electricnet.com/article.mvc/EDSAs-Real-Time-System-Monitoring-And-0001?VNETCOOKIE=NO" target="_blank">ElectricNet</a>		
      <em><p align="center" style="position:absolute;left:120px;top:550px;width:700px">JUNE 2010//Smart Grids Summit 2010 From 13th -14th September in Malaga, Spain
</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:210px;top:750px" href="http://www.itbusinessedge.com/" target="_blank">itbusinessedge</a>		
      <em><p align="center" style="position:absolute;left:120px;top:550px;width:700px">work in progress</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:100px;top:680px" href="http://www.usarchitecture.com/index.htm" target="_blank">usarchitecture</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">home</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:110px;top:415px;width:200px" href="http://www.rff.org/Pages/default.aspx" target="_blank">resources for the future</a>		
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:700px">October 8-11, 2010 Cass Gilbert Society Detroit Tour</em>
    </li>
    <li>
      <a 
      style="position:absolute;left:750px;top:210px;width:180px;color:#C0C0C0;size:1;text-align:right"><p>subject / links; and</p><p>per this disclaimer, </p>
      <p>no claim regarding any</p><p>provided external URL</p><p>can ever be made either</p><p>that architecturenergy.com</p><p>in any way endorses</p><p>the usage policy,</p><p>content</p><p>or</p><p>reliability</p><p>of their information,</p><p>nor that there is</p>
      <p> necessarily</p><p>any foreknowledge</p><p>or consent by that party</p><p> regarding the transfer</p><p>to their site.</p></a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">JUNE 2010 disclaimer /click an image for additional links</p></em>
    </li>       
  </ul>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>