<div id="position16" style="display:none">
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;left:100px;top:180px;width:520px" target="_blank"><img style="border:none" src="images/iap16.jpg" height=23 width=150 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:105px;top:850px" href="http://www.aia.org/" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">test</p></em>
    </li>
    <li><a style="position:absolute;left:1px;top:110px;color:green;width:5px" href="http://smart-grid.tmcnet.com/conference/west-10/" target="_blank">link</a>
    <em><p align="center" style="position:absolute;left:280px;top:280px;width:500px">Our vision goes well beyond this to address how utilities can deploy telecom-based solutions to not only make their grid smarter, but to enable the Smart Home... &nbsp - &nbsp http://smart-grid.tmcnet.com/conference/west-10/w-10-why-attend.aspx</p></em>
    </li>
    <li>
      <a 
      style="display:none;position:absolute;left:5px;top:-110px;color:blue" href="http://arizonageology.blogspot.com/" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:20px;top:-185px;width:1000px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:590px;top:-70px;width:150px" href="http://www.standardpro.com/default.aspx" target="_blank">sturdy</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">advanced lighting technologies</p></em>
    </li>
    <li>
      <a style="position:absolute;left:500px;top:80px;width:250px" href="http://www.fiercebroadbandwireless.com/" target="_blank">deal</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:460px;top:-20px;width:90px" href="http://www.lexology.com/library/detail.aspx?g=1b32c28f-7460-4767-aa8f-52197621d663" target="_blank">mint</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>     
    <li>
      <a 
      style="position:absolute;left:210px;top:800px" href="http://greeninfrastructurecenter.org/" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">S m a r t &nbsp I n f r a s t r u c t u r e &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>
    <li>
      <a style="position:absolute;left:720px;top:30px;width:90px" href="http://www.kpsgroup.com/" target="_blank">nice</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>    
    <li>    
      <a style="position:absolute;left:570px;top:-30px;width:110px;color:#C0C0C0;size:1;text-align:center" href="http://wilderness.org/" target="_blank"><font size="5">green integration...</font></a>
    </li>    
    <li>
      <a 
      style="position:absolute;top:220px;width:910px;color:#C0C0C0;size:1;text-align:left"><p>subject / links; and per this <font color="black">exit disclaimer</font>,
      no claim regarding any provided external URL can ever be made either that architecturenergy.com in any way endorses the usage policy, content or reliability of their information, nor that there is
      necessarily any foreknowledge or consent by that party regarding the transfer to their site.</p></a>	
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">JUNE 2010 disclaimer /click an image for additional links</p></em>
    </li>         
  </ul>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({display:none, opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>
 


