<div id="position13" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:4em;top:70px" >13 &nbsp/ refresh /</a>
    </p>
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;left:1020px;top:320px;width:85px"  href="http://www.visualcv.com/edownie" target="_blank"><img style="border:none" src="images/iap13.jpg" height=45 width=300 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:350px;width:800px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li><a style="position:absolute;left:30px;top:-150px;color:green;width:5px" href="http://www.environmentalleader.com/2010/07/29/green-rating-systems-which-one-is-right-for-you/" target="_blank">link</a>
    <em><p align="center" style="position:absolute;left:20px;top:350px;width:1000px">S m a r t &nbsp I n f r a s t r u c t u r e &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:240px;top:-180px;color:blue" href="http://www.environmentalleader.com/" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:20px;top:350px;width:1000px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:250px;top:550px" href="http://my.epri.com/portal/server.pt" target="_blank">future of electricity</a>		
      <em><p align="center" style="position:absolute;left:20px;top:350px;width:700px">research institute</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:100px;top:820px" href="http://www.greenbiz.com/" target="_blank">greenbiz</a>		
      <em><p align="center" style="position:absolute;left:20px;top:350px;width:910px">on greenbiz/JUNE 2010/its mission is to provide clear, concise, accurate, and balanced information, resources, and learning opportunities to help companies of all sizes and sectors integrate environmental responsibility into their operations in a manner that supports profitable business practices</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:120px;top:520px" href="http://www.future-cities-lab.net/index/" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:350px;width:700px">test</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:400px;top:680px" href="http://www.rdbmagazine.com/print/Residential-Design-and-Build/Rebirth-of-the-Master-Architect/1$4115" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:350px;width:800px">4 JUNE 2010: you may trust your design to one with the kind of experience that comes from observation of the construction process</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:490px;top:750px;width:250px" href="http://wirednewyork.com/" target="_blank">World-famous fountains, palace, park.</a>		
      <em><p align="center" style="position:absolute;left:20px;top:350px;width:700px">work in progress</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:750px;top:410px;width:180px;color:#C0C0C0;size:1;text-align:right"><p>subject / links; and</p><p>per this disclaimer, </p>
      <p>no claim regarding any</p><p>provided external URL</p><p>can ever be made either</p><p>that architecturenergy.com</p><p>in any way endorses</p><p>the usage policy,</p><p>content</p><p>or</p><p>reliability</p><p>of their information,</p><p>nor that there is</p>
      <p> necessarily</p><p>any foreknowledge</p><p>or consent by that party</p><p> regarding the transfer</p><p>to their site.</p></a>		
      <em><p align="center" style="position:absolute;left:20px;top:350px;width:700px">JUNE 2010 disclaimer</p></em>
    </li>    
  </ul>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>
