<div id="position15" style="display:none">
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;left:200px;top:190px;width:120px" target="_blank"><img style="border:none" src="images/iap15.jpg" height=23 width=150 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li><a style="position:absolute;left:-60px;top:100px;color:green" href="https://www.solarpowerinternational.com/sepa2010/public/MainHall.aspx?ID=626&sortMenu=101000&MainMenuID=626" target="_blank">link</a>
    <em><p align="center" style="position:absolute;left:20px;top:280px;width:1000px">S m a r t &nbsp I n f r a s t r u c t u r e &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>
    <li>
      <a 
      style="display:none;position:absolute;left:5px;top:-110px;color:blue" href="http://www.intellidriveusa.org/" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:-180px;top:-185px;width:1000px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>     
    <li>
      <a 
      style="position:absolute;left:690px;top:-70px" href="http://www.songdo.com/#" target="_blank">novel</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">test</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:120px;top:450px" href="http://www.washingtonpost.com/wp-dyn/content/article/2010/01/14/AR2010011405329.html" target="_blank">the post</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">shaping the city</p></em>
    </li>
    <li>
      <a style="position:absolute;left:500px;top:80px;width:250px" href="http://www.greentechmedia.com/" target="_blank">overall</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:470px;top:120px;width:90px" href="http://www.ohioenvironmentallawblog.com/" target="_blank">trim</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>     
    <li>
      <a 
      style="position:absolute;left:220px;top:900px;width:950px" href="http://www.cassgilbertsociety.org/" target="_blank">sense of entry</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">October 8-11, 2010 Cass Gilbert Society Detroit Tour</p></em>
    </li>
    <li>
      <a style="position:absolute;left:760px;top:80px;width:90px" href="http://www.stanhywet.org/dynamic/default.aspx" target="_blank">autonomous</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>
    <li>
      <a style="position:absolute;left:460px;top:-130px;width:90px" href="http://www.nrdc.org/" target="_blank">nrdc</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>
    <li>    
      <a style="position:absolute;left:570px;top:-30px;width:110px;color:#C0C0C0;size:1;text-align:center" href="http://wilderness.org/" target="_blank"><font size="5">green integration...</font></a>
    </li> 
    <li>
      <a 
      style="position:absolute;top:220px;width:910px;color:#C0C0C0;size:1;text-align:left"><p>subject / links; and per this <font color="black">exit disclaimer</font>,
      no claim regarding any provided external URL can ever be made either that architecturenergy.com in any way endorses the usage policy, content or reliability of their information, nor that there is
      necessarily any foreknowledge or consent by that party regarding the transfer to their site.</p></a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">JUNE 2010 disclaimer /click an image for additional links</p></em>
    </li>         
  </ul>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({display:none, opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>

