<div id="position1" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:155px;top:80px" >/ refresh /</a>
    </p>
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;top:190px;width:120px"  href="http://www.visualcv.com/edownie" target="_blank"><img style="border:none" src="images/iap1.jpg" height=21 width=150 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li>
      <a style="position:absolute;left:530px;top:30px;color:green;width:22px" href="http://www.smartcommunities.ncat.org/" target="_blank">link</a>
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:1000px">S m a r t &nbsp C o m m u n i t y &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>
    <li>
      <a 
      style="display:none;position:absolute;left:5px;top:-110px;color:blue" href="http://wilderness.org/" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:-180px;top:-185px;width:900px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:550px;top:-50px" href="http://www.nytimes.com/2010/08/09/arts/design/09archive.html?src=mv" target="_blank">architecture</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">JULY 2010</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:720px;top:-80px;width:280px"  href="http://www.wbdg.org/design/sustainable.php" target="_blank">support</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">Sustainable Committee: June '10</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:510px;top:120px"  href="http://www.wbdg.org/resources/lidsitedesign.php" target="_blank">valid</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">work in progress</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:710px;top:20px;width:100px"  href="http://www.masstech.org/" target="_blank">provision</a>		
      <em><p align="center" style="position:absolute;left:23px;top:-180px;width:1000px">Massachusetts Technology Collaborative / URL: June '10</p></em>
    </li>  
    <li>
      <a 
      style="position:absolute;left:405px;top:-30px;width:750px" href="http://www.buildinggreen.com/menus/headings.cfm?SubtopicID=1" target="_blank">charge</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">Brattleboro, VT</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:90px;top:650px">other</a>
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1122px">A designer is an emerging synthesis of artist, inventor, mechanic, objective economist and evolutionary strategist." R. Buckminster Fuller</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:5px;top:320px;width:360px;color:#C0C0C0;size:1;text-align:left"><p>subject / links; and per this disclaimer,
      no claim regarding any provided external URL can ever be made either that architecturenergy.com in any way endorses the usage policy, content or reliability of their information, nor that there is
      necessarily any foreknowledge or consent by that party regarding the transfer to their site.</p></a>				
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">JUNE 2010 disclaimer /click an image for additional links</p></em>
    </li>     
  </ul>
</div>



<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({display:none, opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>