<div id="position4" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:155px;top:80px" >4 &nbsp/ refresh /</a>
    </p>
  <ul class="menu">http://www.hvac-for-beginners.com/index.html
    <li>
      <a 
      style="position:absolute;left:80px;top:-20px;width:400px" target="_blank"><img style="border:none" src="images/iap4.jpg" height=120 width=800 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:-180px;width:900px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li>
    <a style="position:absolute;left:1px;top:90px;color:green;width:5px" href="http://www.foga.com/home.asp" target="_blank"><p>10/6/<br />2010</a>
    <em><p align="center" style="position:absolute;left:15px;top:-180px;width:1000px">comprehensive listing of events &nbsp - &nbsp http://www.confabb.com/</p></em>
    </li>      
    <li>
      <a 
      style="position:absolute;left:385px;top:-50px;width:250px" href="http://www.sustainable.org/" target="_blank">secure</a>		
      <em><p align="center" style="position:absolute;left:20px;top:-180px;width:1000px">august 2010</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:500px;top:200px" href="http://www.lowimpactliving.com/" target="_blank">http://www.lowimpactliving.com/</a>	
      <em><p align="center" style="position:absolute;left:20px;top:-180px;width:1000px">august 2010</p></em>
    </li>     
    <li>
      <a 
      style="position:absolute;left:350px;top:110px;width:1510px" href="http://community.nytimes.com/comments/dotearth.blogs.nytimes.com/2010/05/19/a-fresh-menu-of-climate-and-energy-priorities/?sort=highlights&scp=9&sq=energy%20goals&st=cse" target="_blank">
      http://community.nytimes.com/comments/dotearth.blogs.nytimes.com/2010/05/19/a-fresh-menu-of-climate-and-energy-priorities/?sort=highlights&scp=9&sq=energy%20goals&st=cse</a>		
      <em><p align="center" style="position:absolute;left:20px;top:-180px;width:1000px">august 2010</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:500px;top:80px;width:250px" href="http://architects.org/" target="_blank">decent</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:720px;top:-50px;width:250px" href="http://www.artlex.com/" target="_blank">http://www.artlex.com/</a>		
      <em><p align="center" style="position:absolute;left:20px;top:-180px;width:1000px">august 2010</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:750px;top:150px" href="http://biomassthermal.org/" target="_blank">http://biomassthermal.org/</a>	
      <em><p align="center" style="position:absolute;left:20px;top:-180px;width:1000px">august 2010</p></em>
    </li>    
      <li>
      <a 
      style="position:absolute;left:270px;top:420px;width:550px" href="http://www.oled-display.net/blog/admin" target="_blank">http://www.oled-display.net/blog/admin</a>		
      <em><p align="center" style="position:absolute;left:20px;top:-180px;width:1000px">http:// 3 JUNE 2010 for:</p></em>
    </li>
    <li>
      <a style="position:absolute;left:720px;top:30px;width:90px" href="http://greenbuildingfocus.com/default.aspx?id=1345" target="_blank">precise</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>
    <li>
      <a style="position:absolute;left:760px;top:80px;width:90px" href="http://www.brighterenergy.org/" target="_blank">swift</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:760px;top:-20px;width:70px" href="http://www.powergenworldwide.com/index.html" target="_blank">further</a>		
      <em><p align="center" style="position:absolute;left:20px;top:-180px;width:800px">august 2010</p></em>
    </li>
    <li>    
      <a style="position:absolute;left:570px;top:10px;width:110px;color:#C0C0C0;size:1;text-align:center" href="http://wilderness.org/" target="_blank"><font size="5">green integration...</font></a>
    </li>     
     
  </ul>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({display:none , opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>