<div id="position12" style="display:none">

<ul class="menu">
    <li>
      <a 
      style="position:absolute;top:-230px;width:400px" target="_blank"><img style="border:none" src="images/iap12.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>

    <li>
    <a style="position:absolute;left:450px;top:-120px;color:green;width:5px" href="http://us.arevablog.com/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">e n e r g y &nbsp s t a n d a r d s</p></em>
    </li>

    <li>
    <a style="position:absolute;left:150px;top:-220px;color:green;width:5px" href="http://www.ning.com/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">c o n v e r s a t i o n &nbsp s p a c e</p></em>
    </li>

    <li>
    <a style="position:absolute;left:100px;top:-110px;color:green;width:5px" href="http://www.yorktel.com/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">i n s t a l l a t i o n &nbsp i n t e g r a t i o n</p></em>
    </li>

    <li>    
      <a style="position:absolute;left:570px;top:20px;width:110px;color:#C0C0C0;size:1;text-align:center" 
      href="http://www.refugees.org/article.aspx?id=1260&subm=75&area=Participate&" target="_blank"><font size="5">12</font></a>
    </li>
 
  </ul>
<div><%= link_to '<img style="border:none;position:absolute;left:570px;top:220px" src="images/building2-re.jpg" height=120 width=40 />', root_path %>
<p style="position:absolute;left:580px;top:330px;color:#333300"><==</p>
  </div>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>
