<div id="position3" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:4em;top:70px" >3 &nbsp/ refresh /</a>
    </p>
  <ul class="menu">
      <li>
      <a 
      style="position:absolute;left:1020px;top:120px;width:70px"  href="http://www.visualcv.com/edownie" target="_blank"><img style="border:none" src="images/iap3.jpg" height=45 width=300 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:900px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li>
      <a style="position:absolute;left:670px;top:360px;color:green;width:5px" href="http://www.enterprisecommunity.org/about/" target="_blank">link</a>
       <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">S m a r t &nbsp C o m m u n i t y &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:900px;top:220px;color:blue" href="http://www.wango.org/about.aspx" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>        
    <li>
      <a 
      style="position:absolute;left:1200px;top:10px" href="http://www.renewableenergyfocususa.com/" target="_blank">JUNE 2010</a>		
      <em><p align="center" style="position:absolute;left:120px;top:130px;width:1000px">work in progress</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:1090px;top:305px" href="http://www.healthyhouseinstitute.com/" target="_blank">healthyhouse</a>		
      <em><p align="center" style="position:absolute;left:120px;top:130px;width:1000px">site quote/JUNE 2010/provides consumers information to make their homes healthier</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:1200px;top:180px" href="http://www.theoildrum.com/" target="_blank">Work in progress</a>		
      <em><p align="center" style="position:absolute;left:120px;top:130px;width:1000px">2010 IEEE Conference on Innovative Technologies for an Efficient and Reliable Electricity Supply. This conference will be held on 27 - 28 September 2010 at the Westin Hotel in Waltham, Massachusetts USA</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:1100px;top:375px;width:185px" href="http://www.cyburbia.org/" target="_blank">cyburbia 6 JUNE 2010</a>		
      <em><p align="center" style="position:absolute;left:120px;top:130px;width:1000px">urban planning message board on the Internet</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;top:-200px;width:180px;color:#C0C0C0;size:1;text-align:left"><p>subject / links; and</p><p>per this disclaimer, </p>
      <p>no claim regarding any</p><p>provided external URL</p><p>can ever be made either</p><p>that architecturenergy.com</p><p>in any way endorses</p><p>the usage policy,</p><p>content</p><p>or</p><p>reliability</p><p>of their information,</p><p>nor that there is</p>
      <p> necessarily</p><p>any foreknowledge</p><p>or consent by that party</p><p> regarding the transfer</p><p>to their site.</p></a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:700px">JUNE 2010 disclaimer</p></em>
    </li>         
  </ul>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>