<div id="position10" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:4em;top:70px" >10 &nbsp/ refresh /</a>
    </p>
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;left:10px;top:100px;width:70px"  href="http://www.visualcv.com/edownie" target="_blank"><img style="border:none" src="images/iap10.jpg" height=20 width=150 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:340px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li><a style="position:absolute;left:25px;top:10px;color:green" href="http://www.lpainc.com/#" target="_blank">link</a>
    <em><p align="center" style="position:absolute;left:20px;top:340px;width:1000px">S m a r t &nbsp B u s i n e s s &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:240px;top:-180px;color:blue" href="http://www.jetsongreen.com/" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:20px;top:340px;width:1000px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>        
    <li>
      <a 
      style="position:absolute;left:210px;top:650px;width:800px" href="http://www.timberhomenation.com/profiles/blog/list?tag=energy" target="_blank">Energy Frontier Research Center http://www.cise.columbia.edu/efrc/</a>		
      <em><p align="center" style="position:absolute;left:20px;top:340px;width:1000px">A community of timber home enthusiasts and those who love energy-efficient homes</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:80px;top:705px" href="http://www.huffingtonpost.com/rick-fedrizzi" target="_blank">work in progress</a>		
      <em><p align="center" style="width:950px">3 JUNE 2010</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:100px;top:480px" href="http://www.marnerarchitecture.com/about" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:340px;width:1000px">Green Build Expo; US Green Building Council</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:750px;top:210px;width:180px;color:#C0C0C0;size:1;text-align:right"><p>subject / links; and</p><p>per this disclaimer, </p>
      <p>no claim regarding any</p><p>provided external URL</p><p>can ever be made either</p><p>that architecturenergy.com</p><p>in any way endorses</p><p>the usage policy,</p><p>content</p><p>or</p><p>reliability</p><p>of their information,</p><p>nor that there is</p>
      <p> necessarily</p><p>any foreknowledge</p><p>or consent by that party</p><p> regarding the transfer</p><p>to their site.</p></a>		
      <em><p align="center" style="position:absolute;left:20px;top:340px;width:700px">JUNE 2010 disclaimer</p></em>
    </li>       
  </ul>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>
