<div id="position5" style="display:none">
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;top:-180px;width:400px" target="_blank"><img style="border:none" src="images/iap5.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>    

    <li>    
<%= link_to '<p style="font-family:arial;font-size:25px;color:#333300;position:absolute;left:310px;top:110px;width:200px">L O C A T I O N</p>', root_path %>
  <em><p align="left" style="color:white;font-family:arial;position:absolute;left:550px;top:130px;width:200px"><i>5 &nbsp A P R I L &nbsp 2 0 1 1</i></p></em>
</li>     
    
  </ul>

  <p style="position:absolute;left:280px;top:210px;color:#333300"><==</p>

</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-5"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>