<div id="position2" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:4em;top:4.5em" >2 &nbsp/ refresh /</a>
    </p>
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;left:1020px;top:120px;width:85px"  href="http://www.visualcv.com/edownie" target="_blank"><img style="border:none" src="images/iap2.jpg" height=45 width=300 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li><a style="position:absolute;left:720px;top:355px;color:green;width:10px" href="http://www.iaqvec2010.org/" target="_blank">link</a>
    <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">It will cover a wide range of key research areas with the goal of simultaneously improving indoor environmental quality and energy efficiency, and enhancing wellbeing and sustainability. &nbsp - &nbsp http://www.iaqvec2010.org/</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:900px;top:220px;color:blue" href="http://www.artsusa.org/" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>        
    <li>
      <a 
      style="position:absolute;left:990px;top:-190px" href="" target="_blank">JUNE 2010/form/</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:1210px;top:305px" href="http://www.informedbuilding.com/" target="_blank">simple machines 1</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:700px">S m a r t &nbsp C o m m u n i t y &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:950px;top:320px" href="http://www.archfoundation.org/aaf/aaf/index.htm" target="_blank">JUNE 2010</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">archfoundation</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:1250px;top:-120px" href="http://www.renewableenergyinstitute.org/" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test3</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:970px;top:-80px" href="http://ilbi.org/the-standard/version-2-0" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">prof. of architecture on the workshop panel (5/21/10) on rethinking water: a critical resource</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:1000px;top:210px" href="http://www.sustainablehomemag.com/" target="_blank">home</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">developments</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:1200px;top:-170px" href="http://www.greenbuildingadvisor.com/blogs/dept/think-spot/qa-rick-fedrizzi-president-and-ceo-usgbc" target="_blank">Work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">http:// 3 JUNE 2010 for:</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:970px;top:370px" href="http://www.lpainc.com/" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">http:// 3 JUNE 2010 for:</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:950px;top:10px" href="http://www.vanalen.org/index.php" target="_blank">building sciences</a>	
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">blogs</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;top:-200px;width:180px;color:#C0C0C0;size:1;text-align:left"><p>subject / links; and</p><p>per this disclaimer, </p>
      <p>no claim regarding any</p><p>provided external URL</p><p>can ever be made either</p><p>that architecturenergy.com</p><p>in any way endorses</p><p>the usage policy,</p><p>content</p><p>or</p><p>reliability</p><p>of their information,</p><p>nor that there is</p>
      <p> necessarily</p><p>any foreknowledge</p><p>or consent by that party</p><p> regarding the transfer</p><p>to their site.</p></a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:700px">JUNE 2010 disclaimer</p></em>
    </li>   
  </ul>
</div>


<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>