<div id="position7" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:4em;top:70px" >7 &nbsp/ refresh /</a>
    </p>
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;left:1020px;top:120px;width:70px"  href="http://www.visualcv.com/edownie" target="_blank"><img style="border:none" src="images/iap7.jpg" height=45 width=300 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li><a style="position:absolute;left:650px;top:230px;color:green;width:5px" href="http://www.smart-homeowner.com/" target="_blank">link</a>
    <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">S m a r t &nbsp H o m e &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:900px;top:220px;color:blue" href="http://www.librarything.com/" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>     
    <li>
      <a 
      style="position:absolute;left:1280px;top:310px" href="http://blog.aia.org/ces/" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test1</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:970px;top:280px" href="http://ilbi.org/the-standard/version-2-0" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test2</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:950px;top:380px" href="http://blogs.healthyheating.com/" target="_blank">healthyheating</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">JULY2010 - designforaging</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:1205px;top:2200px" href="http://www.aia.org/" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test4</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:890px;top:-170px" href="http://www.sustainablefacility.com/" target="_blank">buildings</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">high-performance</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:940px;top:-85px" href="http://www.aia.org/" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:1100px;top:210px;width:150px" href="http://www.gepower.com/home/index.htm" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">daylighting in buildings</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:940px;top:320px" href="http://www.theresponsiblebathroomtour.com/" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">3 JUNE 2010 http://www.energylens.com/</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:990px;top:-180px" href="http://www.synapsense.com/go/index.cfm" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">http:// 3 JUNE 2010 for: &nbsp sphere &nbsp fidelity</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;top:-200px;width:180px;color:#C0C0C0;size:1;text-align:left"><p>subject / links; and</p><p>per this disclaimer, </p>
      <p>no claim regarding any</p><p>provided external URL</p><p>can ever be made either</p><p>that architecturenergy.com</p><p>in any way endorses</p><p>the usage policy,</p><p>content</p><p>or</p><p>reliability</p><p>of their information,</p><p>nor that there is</p>
      <p> necessarily</p><p>any foreknowledge</p><p>or consent by that party</p><p> regarding the transfer</p><p>to their site.</p></a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:700px">JUNE 2010 disclaimer</p></em>
    </li>   
  </ul>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-11"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "slow");
});
</script>