<div id="position8" style="display:none">
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;top:-180px;width:400px" target="_blank"><img style="border:none" src="images/iap8.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>

    <li>
    <a style="display:none;position:absolute;left:150px;top:-120px;color:green;width:5px" href="http://blog.makerbot.com/" target="_blank"><p>12/17/<br />2010</a>
    <em><p align="center" style="position:absolute;left:15px;top:-180px;width:1000px">none</p></em>
    </li>
  
    <li><p style="display:none"></p><%= link_to '<img style="display:none;position:absolute;left:450px;top:10px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', directory_path %>
    <em><p align="center" style="display:none;font-family:arial;position:absolute;left:15px;top:-210px;width:850px;color:#333300"><i>E N E R G Y &nbsp P O S I T I V E &nbsp O F F I C E &nbsp B U I L D I N G S</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:46px;color:#C0C0C0;position:absolute;left:140px;top:40px;width:540px">C O M M I S S I O N I N G</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:50px;top:80px;width:200px"><i>4 / 7 / 2011</i></p></em>
</li>     
 
  </ul>
  <p style="position:absolute;left:410px;top:230px;color:#333300"><==</p>

<p><%= link_to '<img style="border:none;position:absolute;left:408px;top:-158px" src="images/button-s3re.jpg" height=21 width=28 /></img>', root_path %></p>

</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>