<div id="position14" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:155px;top:80px"style="color:#3366FF;position:absolute;left:3.5em;top:4.5em" >14 &nbsp/ refresh /</a>
    </p>
  <ul class="menu">
  <li>
    <a 
      style="position:absolute;left:80px;top:-20px;width:400px" target="_blank"><img style="border:none" src="images/iap14.jpg" height=120 width=800 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li>
      <a 
      style="display:none;position:absolute;left:5px;top:-110px;color:blue" href="http://blog.aia.org/smallfirms/" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:-180px;top:-185px;width:1000px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>     
   <li><a style="position:absolute;left:1px;top:170px;color:green;width:5px" href="http://www.businessreviewusa.com/events-tradeshows/greenbuild-2010" target="_blank"><p>10/9/<br />2010</a>
   <em><p align="center" style="position:absolute;left:20px;top:280px;width:900px">This one-day conference focuses on the impact of innovation in components, such as windows, lighting, and walls, as well as the latest energy usage visibility and control technologies. We’ll reveal insider information on the shifting competitive landscape and financing dynamics in the market &nbsp - &nbsp http://events.cleantech.com/chicago/</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:510px;top:490px" href="http://www.energyandutilities.org.uk/home" target="_blank">UK</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">S m a r t &nbsp I n f r a s t r u c t u r e &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:580px;top:210px" href="http://www.turnerconstruction.com/turnercity/" target="_blank">marvelous</a>		
      <em><p align="center" style="width:950px;position:absolute;left:20px;top:550px;width:700px">JULY 2010</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:390px;top:270px" href="http://www.192021.org/" target="_blank">high rise</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">http://www.panynj.gov/wtcprogress/index.html</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:310px;top:325px" href="http://www.millenniumpark.org/" target="_blank">chicago</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">http://www.iea.org/textbase/nppdf/free/2007/Cutting_Edge_2007_WEB.pdf</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:470px;top:340px;width:250px" href="http://www.3tier.com/en/" target="_blank">3tier</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">enabling the world's Renewable Energy Revolution &nbsp - &nbsp http://www.3tier.com/</p></em>
    </li>
    
    <li>
      <a style="position:absolute;left:500px;top:-80px;width:90px" href="http://www.ricardobofill.com/en/index.htm" target="_blank">refined</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>   
    <li>    
      <a style="position:absolute;left:570px;top:20px;width:110px;color:#C0C0C0;size:1;text-align:center" href="http://www.iloveny.com/Home.aspx" target="_blank"><font size="5">green integration...</font></a>
    </li>      
   
  </ul>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({display:none, opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>