<div id="position2" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:155px;top:80px" >2 &nbsp/ refresh /</a>
    </p>
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;left:60px;top:130px;width:400px" target="_blank"><img style="border:none" src="images/iap2.jpg" height=60 width=400 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:-180px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li><a style="position:absolute;left:1px;top:-10px;color:green;width:10px" href="http://www.semiconeuropa.org/index.htm" target="_blank"><p>10/3/<br />2010</a>
    <em><p align="center" style="position:absolute;left:270px;top:-180px;width:550px"> links to high-quality, informative websites &nbsp -&nbsp http://www.allconferences.com/ &nbsp -&nbsp a unique search directory </p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:470px;top:440px;width:250px" href="http://www.ecolocalliving.com/home.html" target="_blank">local living</a>		
      <em><p align="center" style="position:absolute;left:20px;top:-180px;width:1000px">active discussions on relevant topics, news in the form of print, photo, video and audio &nbsp - &nbsp http://www.ecolocalliving.com</p></em>
    </li>
    <li>
      <a style="position:absolute;left:450px;top:740px;width:250px" href="http://www.esf.edu/greenbuilding/2010/agenda.htm" target="_blank">greenbuilding</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:800px">to enhance education, leadership and practice in the science, design, engineering and management of natural resources and the environment</p></em>
    </li>     
    <li>
      <a style="position:absolute;left:20px;top:680px" href="http://www.iras.org/Site/Welcome.html" target="_blank">institute</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">august 2010</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:500px;top:70px;width:250px" href="http://www.immersion.com/index.html" target="_blank">close</a>		
      <em><p align="center" style="position:absolute;left:20px;top:130px;width:1000px">test</p></em>
    </li>      
    <li>
      <a style="position:absolute;left:690px;top:110px" href="http://www.districtenergy.org/" target="_blank">sy-nc</a>		
      <em><p align="center" style="position:absolute;left:20px;top:-180px;width:1000px">Architects are best equipped to leverage connection between buildings</p></em>
    </li>    
    <li><a style="position:absolute;left:310px;top:670px" href="http://www.informedbuilding.com/" target="_blank">simple machines 1</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">august 2010</p></em>
    </li>    
    <li>
      <a style="position:absolute;left:50px;top:620px" href="http://www.archfoundation.org/aaf/aaf/index.htm" target="_blank">JUNE 2010</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">august 2010</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:250px;top:420px" href="http://www.renewableenergyinstitute.org/" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:1000px">test3</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:170px;top:750px" href="http://ilbi.org/the-standard/version-2-0" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">prof. of architecture on the workshop panel (5/21/10) on rethinking water: a critical resource</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:130px;top:680px" href="http://www.sustainablehomemag.com/" target="_blank">home</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">developments</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:120px;top:430px" href="http://www.greenbuildingadvisor.com/blogs/dept/think-spot/qa-rick-fedrizzi-president-and-ceo-usgbc" target="_blank">Work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">http:// 3 JUNE 2010 for:</p></em>
    </li>
    <li>
      <a style="position:absolute;left:270px;top:470px" href="http://www.lpainc.com/" target="_blank">work in progress</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">http:// 3 JUNE 2010 for:</p></em>
    </li>
    <li>
      <a style="position:absolute;left:50px;top:710px" href="http://www.vanalen.org/index.php" target="_blank">building sciences</a>	
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">blogs</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:410px;top:790px;width:250px" href="http://www.spacesyntax.com/index.html" target="_blank">spacesyntax</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">evidence-based</p></em>
    </li>
    <li>
      <a style="position:absolute;left:520px;top:140px;width:250px" href="http://www.chemaqua.com/index2.asp" target="_blank">chemaqua</a>		
      <em><p align="center" style="position:absolute;left:20px;top:-180px;width:1000px">Resourcefully Green</p></em>
    </li>
    <li>
      <a style="position:absolute;left:820px;top:70px;width:90px" href="http://ro-man2010.org/indexin.php" target="_blank">alert</a>		
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:1000px">intelligent machines</p></em>
    </li>
    <li>    
      <a style="position:absolute;left:570px;top:-30px;width:110px;color:#C0C0C0;size:1;text-align:center" href="http://wilderness.org/" target="_blank"><font size="5">green integration...</font></a>
    </li>  
    <li>
      <a 
      style="position:absolute;top:220px;width:910px;color:#C0C0C0;size:1;text-align:left"><p>subject / links; and per this <font color="black">exit disclaimer</font>,
      no claim regarding any provided external URL can ever be made either that architecturenergy.com in any way endorses the usage policy, content or reliability of their information, nor that there is
      necessarily any foreknowledge or consent by that party regarding the transfer to their site.</p></a>	
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">JUNE 2010 disclaimer /click an image for additional links</p></em>
    </li>   
  </ul>
</div>


<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({display:none , opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>