<div id="position9" style="display:none">
  <ul class="menu">
    <li>    
      <a 
      style="position:absolute;top:-220px;width:400px" target="_blank"><img style="border:none" src="images/iap9.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:900px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>

    <li>
    <a style="position:absolute;left:650px;top:-210px;color:green;width:5px" href="http://www.yrgsustainability.com/services/BPM120210.jsp" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">m o d e l i n g &nbsp a n a l y s i s</p></em>
    </li>

    <li>
    <a style="position:absolute;left:100px;top:-40px;color:green;width:5px" href="" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-260px;width:850px;color:#333300">r e d u c e d &nbsp c o n s u m p t i o n</p></em>
    </li>

    <li>
    <a style="position:absolute;left:40px;top:-100px;color:green;width:5px" href="http://www.intersect360.com/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-260px;width:850px;color:#333300">m o d e l i n g &nbsp r e s o u r c e s</p></em>
    </li>

    <li>    
      <a style="position:absolute;left:570px;top:20px;width:110px;color:#C0C0C0;size:1;text-align:center" 
      href="http://www.sej.org/" target="_blank"><font size="5">9</font></a>
    </li>      
      
  </ul>
<div><%= link_to '<img style="border:none;position:absolute;left:450px;top:220px" src="images/water5.jpg" height=120 width=40 /></img>', root_path %>
<p style="position:absolute;left:460px;top:330px;color:#333300"><==</p>
  </div>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>