<div id="position1" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:155px;top:80px" >/ refresh /</a>
    </p>
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;top:280px;width:120px"  href="http://www.visualcv.com/edownie" target="_blank"><img style="border:none" src="images/iap1.jpg" height=30 width=200 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li>
      <a style="position:absolute;left:15px;top:80px;color:green;width:22px" href="http://www.smartcommunities.ncat.org/" target="_blank">link</a>
      <em><p align="center" style="position:absolute;left:20px;top:280px;width:1000px">S m a r t &nbsp C o m m u n i t y &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:5px;top:-110px;color:blue" href="http://wilderness.org/" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:-180px;top:-185px;width:900px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:90px;top:490px" href="http://www.cottagecompany.com/default.aspx" target="_blank">cottagecompany</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">JULY 2010</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:120px;top:780px;width:280px"  href="http://www.wbdg.org/design/sustainable.php" target="_blank">whole building design</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">Sustainable Committee: June '10</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:210px;top:410px"  href="http://www.wbdg.org/resources/lidsitedesign.php" target="_blank">JUNE 2010</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">work in progress</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:210px;top:810px;width:400px"  href="http://www.masstech.org/cleanenergy/greenbuilding/elements.htm" target="_blank">masstech</a>		
      <em><p align="center" style="position:absolute;left:23px;top:550px;width:1000px">Massachusetts Technology Collaborative / URL: June '10</p></em>
    </li>  
    <li>
      <a 
      style="position:absolute;left:105px;top:430px;width:750px" href="http://www.buildinggreen.com/menus/headings.cfm?SubtopicID=1" target="_blank">efficient building envelope</a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1000px">Brattleboro, VT</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:90px;top:650px">other</a>
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:1122px">A designer is an emerging synthesis of artist, inventor, mechanic, objective economist and evolutionary strategist." R. Buckminster Fuller</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:750px;top:210px;width:180px;color:#C0C0C0;size:1;text-align:right"><p>subject / links; and</p><p>per this disclaimer, </p>
      <p>no claim regarding any</p><p>provided external URL</p><p>can ever be made either</p><p>that architecturenergy.com</p><p>in any way endorses</p><p>the usage policy,</p><p>content</p><p>or</p><p>reliability</p><p>of their information,</p><p>nor that there is</p>
      <p> necessarily</p><p>any foreknowledge</p><p>or consent by that party</p><p> regarding the transfer</p><p>to their site.</p></a>		
      <em><p align="center" style="position:absolute;left:20px;top:550px;width:700px">JUNE 2010 disclaimer /click an image for additional links</p></em>
    </li>     
  </ul>
</div>



<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>