<div id="position14" style="display:none">
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:3.5em;top:4.5em"style="color:#3366FF;position:absolute;left:3.5em;top:4.5em" >14 &nbsp/ refresh /</a>
    </p>
  <ul class="menu">
  <li>
    <a 
      style="position:absolute;left:1020px;top:320px;width:85px"  href="http://www.visualcv.com/edownie" target="_blank"><img style="border:none" src="images/iap14.jpg" height=45 width=300 /></a>		
      <em><p align="center" style="position:absolute;left:20px;top:350px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:240px;top:-180px;color:blue" href="http://blog.aia.org/smallfirms/" target="_blank">value...</a>		
      <em><p align="center" style="position:absolute;left:20px;top:350px;width:1000px">. . . f o r &nbsp <font color="#006400">y o u r</font> &nbsp p r o j e c t &nbsp s u s t a i n a b i l i t y</p></em>
    </li>     
   <li><a style="position:absolute;left:50px;top:-130px;color:green;width:5px" href="http://events.cleantech.com/chicago/event-overview" target="_blank">link</a>
   <em><p align="center" style="position:absolute;left:160px;top:340px;width:900px">This one-day conference focuses on the impact of innovation in components, such as windows, lighting, and walls, as well as the latest energy usage visibility and control technologies. We’ll reveal insider information on the shifting competitive landscape and financing dynamics in the market &nbsp - &nbsp http://events.cleantech.com/chicago/</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:90px;top:590px" href="http://www.energyandutilities.org.uk/home" target="_blank">uk</a>		
      <em><p align="center" style="position:absolute;left:20px;top:340px;width:700px">S m a r t &nbsp I n f r a s t r u c t u r e &nbsp - &nbsp I n t e l l i g e n t &nbsp B u i l d i n g &nbsp P l a n &nbsp N e e d s</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:280px;top:450px" href="http://www.turnerconstruction.com/turnercity/" target="_blank">turnercity</a>		
      <em><p align="center" style="width:950px;position:absolute;left:20px;top:340px;width:700px">JULY 2010</p></em>
    </li>    
    <li>
      <a 
      style="position:absolute;left:100px;top:800px" href="http://www.aia.org/" target="_blank">high rise</a>		
      <em><p align="center" style="position:absolute;left:20px;top:340px;width:700px">http://www.panynj.gov/wtcprogress/index.html</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:10px;top:725px" href="http://www.millenniumpark.org/" target="_blank">chicago</a>		
      <em><p align="center" style="position:absolute;left:20px;top:340px;width:700px">http://www.iea.org/textbase/nppdf/free/2007/Cutting_Edge_2007_WEB.pdf</p></em>
    </li>
    <li>
      <a 
      style="position:absolute;left:750px;top:410px;width:180px;color:#C0C0C0;size:1;text-align:right"><p>subject / links; and</p><p>per this disclaimer, </p>
      <p>no claim regarding any</p><p>provided external URL</p><p>can ever be made either</p><p>that architecturenergy.com</p><p>in any way endorses</p><p>the usage policy,</p><p>content</p><p>or</p><p>reliability</p><p>of their information,</p><p>nor that there is</p>
      <p> necessarily</p><p>any foreknowledge</p><p>or consent by that party</p><p> regarding the transfer</p><p>to their site.</p></a>		
      <em><p align="center" style="position:absolute;left:20px;top:350px;width:700px">JUNE 2010 disclaimer</p></em>
    </li>   
  </ul>
</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-11"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>