<div id="position3" style="display:none">

 <ul class="menu">
      <li>
      <a 
      style="position:absolute;top:-180px;width:400px" target="_blank"><img style="border:none" src="images/iap3.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:900px"></p></em>
    </li>

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:650px;top:-120px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', directory_path %>
    <em><p align="center" style="display:none;font-family:arial;position:absolute;left:15px;top:-215px;width:850px;color:#333300"><i>B E T T E R &nbsp B U I L D I N G S &nbsp I N I T I A T I V E</i></p></em></li>

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:450px;top:-20px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', directory_path %>
    <em><p align="center" style="display:none;font-family:arial;position:absolute;left:15px;top:-215px;width:850px;color:#333300"><i>P A S S I V E &nbsp H O U S E</i></p></em></li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:20px;color:#333300;position:absolute;left:-40px;top:120px;width:500px">F U N C T I O N</p>', root_path %>
  <em><p align="left" style="color:white;font-family:arial;position:absolute;left:500px;top:130px;width:200px"><i>3 1 &nbsp M A R C H &nbsp 2 0 1 1</i></p></em>
</li>     

  </ul>
  
  <p style="position:absolute;left:200px;top:210px;color:#333300"><==</p>

</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-5"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "slow");
});
</script>