<div id="position5" style="display:none">
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;top:-180px;width:400px" target="_blank"><img style="border:none" src="images/iap5.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>    

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:52px;color:#C0C0C0;position:absolute;left:100px;top:30px;width:500px">S Y S T E M S</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:130px;top:80px;width:130px"><i>4 / 7 / 2011</i></p></em>
</li>     
    
  </ul>

  <p style="position:absolute;left:300px;top:230px;color:#333300"><==</p>

<p><%= link_to '<img style="border:none;position:absolute;left:288px;top:-158px" src="images/button-m2a.jpg" height=28 width=28 /></img>', root_path %></p>

</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>