<div id="position4" style="display:none">

  <ul class="menu">
    <li>
      <a 
      style="position:absolute;top:-180px;width:400px" target="_blank"><img style="border:none" src="images/iap4.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:-180px;width:900px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:480px;top:-20px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', directory_path %>
    <em><p align="center" style="display:none;font-family:arial;position:absolute;left:15px;top:-215px;width:850px;color:#333300"><i>W E B - B A S E D &nbsp P H O T O G R A P H Y</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:20px;color:#333300;position:absolute;left:-20px;top:120px;width:500px">F U N C T I O N</p>', root_path %>
  <em><p align="left" style="color:white;font-family:arial;position:absolute;left:520px;top:130px;width:200px"><i>4 &nbsp A P R I L &nbsp 2 0 1 1</i></p></em>
</li>     
     
  </ul>
  <p style="position:absolute;left:240px;top:210px;color:#333300"><==</p>
  
  </div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-5"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>