  <div
  style="position:absolute;left:20px;top:640px">
<span id="span1" class="spanflav" style="text-align:center;display: none" COLS=25 ROWS=5 WRAP=HARD >P r o j e c t &nbsp A d m i n i s t r a t i o n &nbsp M a n a g e m e n t &nbsp S e r v i c e s &nbsp - &nbsp <font color="#006400">Y o u r</font> &nbsp P r e d e i g n &nbsp S e r v i c e s
<p style="width:1000px">S i t e &nbsp D e v e l o p m e n t &nbsp S e r v i c e s  &nbsp - &nbsp <font color="#006400">Y o u r</font> &nbsp D e s i g n &nbsp S e r v i c e s &nbsp - &nbsp D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g</p></span>
<span id="span2" class="spanflav" style="text-align:center;display: none">B i d d i n g &nbsp o r &nbsp N e g o t i a t i o n &nbsp S e r v i c e s &nbsp - &nbsp D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g
<p style="width:1000px"><font color="#006400">Y o u r</font> &nbsp C o n t r a c t &nbsp A d m i n i s t r a t i o n &nbsp S e r v i c e s  &nbsp - &nbsp P r o g r a m m i n g</p></span>
<span id="span3" class="spanflav" style="display: none">P r o j e c t &nbsp A d m i n i s t r a t i o n &nbsp - &nbsp C e r t i f i c a t i o n &nbsp D o c u m e n t a t i o n
<p style="text-align:center;width:1000px"><font color="#006400">Y o u r</font> &nbsp S i t e &nbsp A n a l y s i s &nbsp a n d &nbsp S e l e c t i o n &nbsp - &nbsp D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g</p></span>
<span id="span4" class="spanflav" style="display: none"><font color="#006400">Y o u r</font> &nbsp A r c h i t e c t u r a l &nbsp D e s i g n &nbsp / &nbsp D o c u m e n t a t i o n &nbsp - &nbsp D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g
<p style="text-align:center;width:1000px"> B i d d i n g &nbsp M a t e r i a l s &nbsp - &nbsp S u b m i t t a l &nbsp S e r v i c e s</p></span>
<span id="span5" class="spanflav" style="text-align:center;display: none">D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g
<p style="width:1000px"><font color="#006400">Y o u r</font> &nbsp S p a c e &nbsp S c h e m a t i c s &nbsp / &nbsp F l o w &nbsp D i a g r a m s</p></span>
<span id="span6" class="spanflav" style="text-align:center;display: none">S i t e &nbsp D e v e l o p m e n t &nbsp P l a n n i n g &nbsp - &nbsp O b s e r v a t i o n &nbsp S e r v i c e s &nbsp - &nbsp A d d e d n a
<p style="width:1000px"><font color="#006400">Y o u r</font> &nbsp S t r u c t u r a l &nbsp D e s i g n &nbsp / &nbsp D o c u m e n t a t i o n &nbsp - &nbsp D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g</p></span>
<span id="span7" class="spanflav" style="text-align:center;display: none">E x i s t i n g &nbsp F a c i l i t i e s &nbsp S u r v e y s &nbsp - &nbsp D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g
<p style="width:1000px"><font color="#006400">Y o u r</font> &nbsp I n t e r i o r &nbsp D e s i g n &nbsp / &nbsp D o c u m e n t a t  i o n &nbsp - &nbsp A g e n c y &nbsp C o n s u l t i n g &nbsp / &nbsp R e v i e w &nbsp / &nbsp A p p r o v a l</p></span>
<span id="span8" class="spanflav" style="text-align:center;display: none"><font color="#006400">Y o u r</font> &nbsp M e c h a n i c a l &nbsp D e s i g n &nbsp / &nbsp D o c u m e n t a t i o n
<p style="width:1000px">D e t a i l e d &nbsp S i t e &nbsp U t i l i z a t i o n &nbsp S t u d i e s &nbsp - &nbsp D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g</p></span>
<span id="span9" class="spanflav" style="text-align:center;display: none">O w n e r - s u p p l i e d &nbsp D a t a &nbsp C o o r d i n a t i o n &nbsp - &nbsp D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g
<p style="width:1000px">B i d d i n g &nbsp / &nbsp N e g o t i a t i o n &nbsp - &nbsp <font color="#006400">Y o u r</font> &nbsp P r o j e c t &nbsp R e p r e s e n t a t i o n</p></span>
<span id="span10" class="spanflav" style="text-align:center;display: none">O n - S i t e &nbsp U t i l i t y &nbsp S t u d i e s &nbsp - &nbsp <font color="#006400">Y o u r</font> &nbsp E l e c t r i c a l &nbsp D e s i g n &nbsp / &nbsp D o c u m e n t a t i o n
<p style="width:1000px">D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g &nbsp - &nbsp A n a l y s i s &nbsp o f &nbsp A l t e r n a t e s &nbsp / &nbsp S u b s t i t u t i o n s</p></span>
<span id="span11" class="spanflav" style="text-align:center;display: none">E c o n o m i c &nbsp F e a s a b i l i t y &nbsp S t u d i e s &nbsp - &nbsp O f f - S i t e &nbsp U t i l i t y &nbsp S t u d i e s &nbsp - &nbsp S u p p l e m e n t a l &nbsp D o c u m e n t a t i o n
<p style="width:1000px"><font color="#006400">Y o u r</font> &nbsp C i v i l &nbsp D e s i g n &nbsp / &nbsp D o c u m e n t a t i o n &nbsp - &nbsp D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g</p></span>
<span id="span12" class="spanflav" style="text-align:center;display: none"><font color="#006400">Y o u r</font> &nbsp L a n d s c a p e &nbsp D e s i g n &nbsp / &nbsp D o c u m e n t a t i o n &nbsp - &nbsp D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g
<p style="width:1100px">P r e l i m i n a r y &nbsp E s t i m a t e &nbsp o f &nbsp t h e &nbsp C o s t &nbsp o f &nbsp t h e &nbsp w o r k &nbsp - &nbsp <font color="#006400">Y o u r</font> &nbsp E n v i r o n m e n t a l &nbsp S t u d i e s &nbsp a n d &nbsp R e p o r t s</p></span>
<span id="span13" class="spanflav" style="text-align:center;display: none">P r e s e n t a t i o n &nbsp - &nbsp Z o n i n g &nbsp P r o c e s s i n g &nbsp A s s i s t a n c e &nbsp / &nbsp B i d &nbsp E v a l u a t i o n &nbsp - &nbsp <font color="#006400">Y o u r</font> &nbsp C o n t r a c t &nbsp A w a r d
<p style="width:1100px">D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g &nbsp - &nbsp Q u o t a t i o n &nbsp R e q u e s t s &nbsp / &nbsp C h a n g e &nbsp O r d e r s</p></span>
<span id="span14" class="spanflav" style="text-align:center;display: none"><font color="#006400">Y o u r</font> &nbsp M a t e r i a l s &nbsp R e s e a r c h &nbsp / &nbsp S p e c i f  i c a t i o n s &nbsp - &nbsp F u r n i t u r e &nbsp a n d &nbsp E q u i p m e n t &nbsp I n s t a l l a t i o n &nbsp A d m i n i s t r a t i o n
<p style="width:1100px">S i t e &nbsp S u r v e y i n g &nbsp - &nbsp D i s c i p l i n e s &nbsp C o o r d i n a t i o n &nbsp / &nbsp D o c u m e n t &nbsp C h e c k i n g &nbsp - &nbsp G e o t e c h n i c a l &nbsp E n g i n e e r i n g</p></span>
<span id="span15" class="spanflav" style="text-align:center;display: none">I n t e r p r e t a t i o n s &nbsp a n d &nbsp D e c i s i o n s &nbsp - &nbsp R e c o r d &nbsp D r a w i n g s
<p style="width:1100px">W a r r a n t y &nbsp R e v i e w &nbsp - &nbsp <font color="#006400">Y o u r</font> &nbsp C o n t r a c t &nbsp C l o s e o u t</p></span>
<span id="span16" class="spanflav" style="text-align:center;display: none"><font color="#006400">Y o u r</font> &nbsp A r c h i t e c t &nbsp - &nbsp E r i c &nbsp D o w n i e &nbsp R . A . &nbsp - &nbsp A . I . A .
<p style="width:1100px">P r o j e c t &nbsp S u s t a i n a b i l i t y &nbsp - &nbsp C l i c k &nbsp a n &nbsp I m a g e</p></span>
</div>
  <ul class="menu">

  </ul>
<table>
  <tr
  style="position:absolute;top:175px">
    <td><p class="textswap1"><a href="#"><img style="border:none;position:absolute;left:650px;top:370px" src="images/spot1.jpg" height=90 width=120 /></a></p></td>
    <td><p class="textswap2"><a href="#"><img style="border:none;position:absolute;left:485px;top:380px" src="images/coe1.jpg" height=75 width=100 /></a></p></td>
    <td><p class="textswap3"><a href="#"><img style="border:none;position:absolute;left:325px;top:385px" src="images/street4.jpg" height=68 width=90 /></a></p></td>
    <td><p class="textswap4"><a href="#"><img style="border:none;position:absolute;left:175px;top:390px" src="images/model11.jpg" height=60 width=80 /></a></p></td>
    <td><p class="textswap5"><a href="#"><img style="border:none;position:absolute;left:650px;top:240px" src="images/model3a.jpg" height=90 width=120 /></a></p></td>
    <td><p class="textswap6"><a href="#"><img style="border:none;position:absolute;left:485px;top:260px" src="images/spot5.jpg" height=75 width=100 /></a></p></td>
    <td><p class="textswap7"><a href="#"><img style="border:none;position:absolute;left:325px;top:280px" src="images/building3.jpg" height=68 width=90 /></a></p></td>
    <td><p class="textswap8"><a href="#"><img style="border:none;position:absolute;left:175px;top:300px" src="images/street3.jpg" height=60 width=80 /></a></p></td>
    <td><p class="textswap9"><a href="#"><img style="border:none;position:absolute;left:650px;top:115px"  src="images/water.jpg" height=90 width=120 /></a></p></td>
    <td><p class="textswap10"><a href="#"><img style="border:none;position:absolute;left:485px;top:150px" src="images/spot3.jpg" height=75 width=100 /></a></p></td>
    <td><p class="textswap11"><a href="#"><img style="border:none;position:absolute;left:325px;top:170px" src="images/street2.jpg" height=68 width=90 /></a></p></td>
    <td><p class="textswap12"><a href="#"><img style="border:none;position:absolute;left:175px;top:210px" src="images/building2.jpg" height=60 width=80 /></a></p></td>
    <td><p class="textswap13"><a href="#"><img style="border:none;position:absolute;left:650px;top:-15px" src="images/building4.jpg" height=90 width=120 /></a></p></td>
    <td><p class="textswap14"><a href="#"><img style="border:none;position:absolute;left:485px;top:25px" src="images/street1.jpg"height=75 width=100 /></a></p></td>
    <td><p class="textswap15"><a href="#"><img style="border:none;position:absolute;left:325px;top:55px" src="images/spot4.jpg" height=68 width=90 /></a></p></td>
    <td><p class="textswap16"><a href="#"><img style="border:none;position:absolute;left:175px;top:90px" src="images/spot6.jpg" height=60 width=80 /></a></p></td>
  </tr>
</table>

<script>
  $('p.textswap1').click(function () {
    $("div#position1").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap2').click(function () {
    $("div#position2").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap3').click(function () {
    $("div#position3").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap4').click(function () {
    $("div#position4").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap5').click(function () {
    $("div#position5").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap6').click(function () {
    $("div#position6").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap7').click(function () {
    $("div#position7").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap8').click(function () {
    $("div#position8").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap9').click(function () {
    $("div#position9").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap10').click(function () {
    $("div#position10").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap11').click(function () {
    $("div#position11").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap12').click(function () {
    $("div#position12").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap13').click(function () {
    $("div#position13").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap14').click(function () {
    $("div#position14").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap15').click(function () {
    $("div#position15").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap16').click(function () {
    $("div#position16").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
  });
</script>

  <script>
  $(".menu a").click(function () {
    $("div#subposition1").delay(800).fadeIn("slow");
  });
  </script>
  
  <script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "10"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "1"}, "fast");
});
</script>