  <div
  style="text-align:center;position:absolute;left:100px;top:125px">
<span id="span1" class="spanflav" style="text-align:center;display: none" COLS=25 ROWS=5 WRAP=HARD ><a style="color:#008000">Y o u r</a> &nbsp <a style="color:#333300"><b>A r c h i t e c t</b> &nbsp c a n &nbsp c r e a t e &nbsp y o u r &nbsp c l e a n &nbsp e n e r g y &nbsp p e r s p e c t i v e . &nbsp C l i c k &nbsp f o r &nbsp m e d i a .</a></span>

<span id="span2" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r </a>&nbsp <a style="color:#008000"><b>A r c h i t e c t</b></a> &nbsp <a style="color:#333300">c a n &nbsp c r e a t e &nbsp y o u r &nbsp c l e a n &nbsp e n e r g y &nbsp p e r s p e c t i v e . &nbsp C l i c k &nbsp f o r &nbsp m e d i a .</a></span>

<span id="span3" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r</a> &nbsp <a style="color:#008000"><b>A r c h i t e c t</b></a> &nbsp <a style="color:#333300">c a n &nbsp c r e a t e &nbsp y o u r &nbsp c l e a n &nbsp e n e r g y &nbsp p e r s p e c t i v e . &nbsp C l i c k &nbsp f o r &nbsp m e d i a .</a></span>

<span id="span4" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b></a> &nbsp <a style="color:#008000">c a n &nbsp c r e a t e</a> &nbsp <a style="color:#333300">y o u r &nbsp c l e a n &nbsp e n e r g y &nbsp p e r s p e c t i v e . &nbsp C l i c k &nbsp f o r &nbsp m e d i a .</a></span>

<span id="span5" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b></a> &nbsp <a style="color:#008000">c a n &nbsp c r e a t e</a> &nbsp <a style="color:#333300">y o u r &nbsp c l e a n &nbsp e n e r g y &nbsp p e r s p e c t i v e . &nbsp C l i c k &nbsp f o r &nbsp m e d i a .</a></span>

<span id="span6" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b> &nbsp c a n &nbsp c r e a t e &nbsp <a style="color:#008000">y o u r</a></b> &nbsp <a style="color:#333300">c l e a n &nbsp e n e r g y &nbsp p e r s p e c t i v e . &nbsp C l i c k &nbsp f o r &nbsp m e d i a .</a></span>

<span id="span7" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b> &nbsp c a n &nbsp c r e a t e &nbsp <a style="color:#008000">y o u r</a></b> &nbsp <a style="color:#333300">c l e a n &nbsp e n e r g y &nbsp p e r s p e c t i v e . &nbsp C l i c k &nbsp f o r &nbsp m e d i a .</a></span>
<span id="span8" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b> &nbsp c a n &nbsp c r e a t e &nbsp y o u r </b></a>&nbsp <a style="color:#008000">c l e a n &nbsp e n e r g y</a> &nbsp <a style="color:#333300">p e r s p e c t i v e . &nbsp C l i c k &nbsp f o r &nbsp m e d i a .</a></span>
<span id="span9" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b> &nbsp c a n &nbsp c r e a t e &nbsp y o u r </b></a>&nbsp <a style="color:#008000">c l e a n &nbsp e n e r g y</a> &nbsp <a style="color:#333300">p e r s p e c t i v e . &nbsp C l i c k &nbsp f o r &nbsp m e d i a .</a></span>
<span id="span10" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b> &nbsp c a n &nbsp c r e a t e &nbsp y o u r </b></a>&nbsp <a style="color:#008000">c l e a n &nbsp e n e r g y</a> &nbsp <a style="color:#333300">p e r s p e c t i v e . &nbsp C l i c k &nbsp f o r &nbsp m e d i a .</a></span>
<span id="span11" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b> &nbsp c a n &nbsp c r e a t e &nbsp y o u r </b></a>&nbsp <a style="color:#008000">c l e a n &nbsp e n e r g y</a> &nbsp <a style="color:#333300">p e r s p e c t i v e . &nbsp C l i c k &nbsp f o r &nbsp m e d i a .</a></span>
<span id="span12" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b> &nbsp c a n &nbsp c r e a t e &nbsp y o u r </b></a>&nbsp <a style="color:#008000">c l e a n &nbsp e n e r g y &nbsp p e r s p e c t i v e .</a><a style="color:#333300"> &nbsp C l i c k &nbsp f o r &nbsp m e d i a .</a></span>

<span id="span13" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b> &nbsp c a n &nbsp c r e a t e &nbsp y o u r </b>&nbsp c l e a n &nbsp e n e r g y</a> &nbsp <a style="color:#008000">p e r s p e c t i v e .</a> &nbsp <a style="color:#333300">C l i c k &nbsp f o r &nbsp m e d i a .</a></span>

<span id="span14" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b> &nbsp c a n &nbsp c r e a t e &nbsp y o u r </b>&nbsp c l e a n &nbsp e n e r g y</a> &nbsp <a style="color:#008000">p e r s p e c t i v e .</a> &nbsp <a style="color:#333300">C l i c k &nbsp f o r &nbsp m e d i a .</a></span>

<span id="span15" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b> &nbsp c a n &nbsp c r e a t e &nbsp y o u r </b>&nbsp c l e a n &nbsp e n e r g y</a> &nbsp <a style="color:#008000">p e r s p e c t i v e .</a> &nbsp <a style="color:#333300">C l i c k &nbsp f o r &nbsp m e d i a .</a></span>

<span id="span16" class="spanflav" style="text-align:center;display: none"><a style="color:#333300">Y o u r &nbsp <b>A r c h i t e c t</b> &nbsp c a n &nbsp c r e a t e &nbsp y o u r </b>&nbsp c l e a n &nbsp e n e r g y</a> &nbsp <a style="color:#008000">p e r s p e c t i v e .</a> &nbsp <a style="color:#333300">C l i c k &nbsp f o r &nbsp m e d i a .</a></span>
</div>
  <ul class="menu">


  </ul>
<table>
  <tr>
    <td><p class="textswap1"><a href="#"><img style="border:none;position:absolute;left:50px;top:220px" src="images/spot1.jpg" height=120 width=120 /></a></p></td>
    <td><p class="textswap2"><a href="#"><img style="border:none;position:absolute;left:170px;top:220px" src="images/co1.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap3"><a href="#"><img style="border:none;position:absolute;left:210px;top:220px" src="images/street4-ea.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap4"><a href="#"><img style="border:none;position:absolute;left:250px;top:220px" src="images/model11-re.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap5"><a href="#"><img style="border:none;position:absolute;left:290px;top:220px" src="images/model2a.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap6"><a href="#"><img style="border:none;position:absolute;left:330px;top:220px" src="images/spot5-ea.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap7"><a href="#"><img style="border:none;position:absolute;left:370px;top:220px" src="images/building3-ea.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap8"><a href="#"><img style="border:none;position:absolute;left:410px;top:220px" src="images/street3-re.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap9"><a href="#"><img style="border:none;position:absolute;left:450px;top:220px" src="images/water5.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap10"><a href="#"><img style="border:none;position:absolute;left:490px;top:220px" src="images/spot3-re.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap11"><a href="#"><img style="border:none;position:absolute;left:530px;top:220px" src="images/street2-ea.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap12"><a href="#"><img style="border:none;position:absolute;left:570px;top:220px" src="images/building2-re.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap13"><a href="#"><img style="border:none;position:absolute;left:610px;top:220px" src="images/building4-ea.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap14"><a href="#"><img style="border:none;position:absolute;left:650px;top:220px" src="images/street1-re.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap15"><a href="#"><img style="border:none;position:absolute;left:690px;top:220px" src="images/spot4-ea1.jpg" height=120 width=40 /></a></p></td>
    <td><p class="textswap16"><a href="#"><img style="border:none;position:absolute;left:730px;top:220px" src="images/spot6.jpg" height=120 width=120 /></a></p></td>
  </tr>
</table>

      <a 
      style="font:bold;position:absolute;left:460px;top:500px;width:440px;color:#C0C0C0;size:1;text-align:left"><p>subject / links; and per this <font color="#333300">exit disclaimer</font>,
      no claim regarding any provided external URL can ever be made either that architecturenergy.com in any way endorses the usage policy, content or reliability of their information, nor that there is
      necessarily any foreknowledge or consent by that party regarding the transfer to their site.</p></a>		

<script>
  $('p.textswap1').click(function () {
    $("div#position1").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap2').click(function () {
    $("div#position2").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap3').click(function () {
    $("div#position3").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap4').click(function () {
    $("div#position4").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap5').click(function () {
    $("div#position5").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap6').click(function () {
    $("div#position6").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap7').click(function () {
    $("div#position7").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap8').click(function () {
    $("div#position8").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap9').click(function () {
    $("div#position9").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap10').click(function () {
    $("div#position10").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap11').click(function () {
    $("div#position11").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap12').click(function () {
    $("div#position12").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap13').click(function () {
    $("div#position13").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap14').click(function () {
    $("div#position14").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position15").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap15').click(function () {
    $("div#position15").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position16").fadeOut("slow");
  });
</script>  
  
<script>
  $('p.textswap16').click(function () {
    $("div#position16").delay(800).fadeIn("slow");
    $("div.twitter").fadeOut("slow");
    $("div#position1").fadeOut("slow");
    $("div#position2").fadeOut("slow");
    $("div#position3").fadeOut("slow");
    $("div#position4").fadeOut("slow");
    $("div#position5").fadeOut("slow");
    $("div#position6").fadeOut("slow");
    $("div#position7").fadeOut("slow");
    $("div#position8").fadeOut("slow");
    $("div#position9").fadeOut("slow");
    $("div#position10").fadeOut("slow");
    $("div#position11").fadeOut("slow");
    $("div#position12").fadeOut("slow");
    $("div#position13").fadeOut("slow");
    $("div#position14").fadeOut("slow");
    $("div#position15").fadeOut("slow");
  });
</script>

  <script>
  $(".menu a").click(function () {
    $("div#subposition1").delay(800).fadeIn("slow");
  });
  </script>
  
  <script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "10"}, "slow");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "1"}, "fast");
});
</script>