

<p style="font-family:arial;font-size:10px;position:absolute;left:180px;top:100px;color:#D8FEB2"><b>C L I C K &nbsp F O R &nbsp U S E F U L &nbsp P R O J E C T &nbsp T E R M S</b></p>


<p style="font-family:arial;font-size:30px;position:absolute;left:90px;top:130px;color:#D8FEB2">T H E &nbsp F U T U R E &nbsp O F &nbsp C L I E N T &nbsp S E R V I C E</p>
