



<p style="display:none;text-align:center;font-family:arial;font-size:18px;position:absolute;left:210px;top:240px;color:#D6E0CC">B U I L D I N G &nbsp P E R F O R M A N C E &nbsp G A B</p>

<p style="display:none;font-family:arial;font-size:30px;position:absolute;left:150px;top:300px;color:#336600">This is the Architecturenergy.com homepage</p>



<a style="font-family:arial;font-size:12px;position:absolute;left:190px;top:80px;color:#C0C0C0"><p>D I S C L A I M E R : V i s i t o r &nbsp c l i c k &nbsp t r a c k i n g &nbsp i s &nbsp p r e d i c t i v e &nbsp a n d &nbsp r e a l - t i m e.</a>




