

  <%= render :partial => 'welcome/header' %>

<div><%= render :partial => 'welcome/side_left' %></div>

  

<p style="font-family:arial;font-size:10px;position:absolute;left:120px;top:350px;color:#C0C0C0">D I S C L A I M E R : &nbsp A t &nbsp l a s t &nbsp c h e c k &nbsp t h e &nbsp t r a c k i n g &nbsp s e r v i c e &nbsp f o r &nbsp t h i s &nbsp s i t e &nbsp c o u l d n ' t &nbsp p r e d i c t &nbsp y o u r &nbsp v i s i t .</p>





<p style="position:absolute;left:50px;top:830px;color:#C0C0C0">architecturenergy.com</p>

<%= render :partial => 'js_stuff' %>