
  <%= render :partial => 'welcome/header' %>
  
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:155px;top:80px" >5 &nbsp/ refresh /</a>
    </p>
    
      <p><a style="position:absolute;left:430px;top:370px;width:120px;color:blue"><font size="3" face="Times">powered by:</font></a></p>
  
    <p><a style="position:absolute;left:540px;top:370px;width:120px;color:blue" "href=mailto:inspired@architellect.com"><img style="border:none" src="images/POWEREDBY.jpg" height=100 width=170 /></a></p>

      <p><a 
      style="position:absolute;left:80px;top:190px;width:400px" target="_blank"></a></p>		


<%= render :partial => 'js_stuff' %>