  <%= render :partial => 'welcome/header' %>


<p><a style="display:none">Find me in app/views/place/index.html.erb</a></p>

<p><a style="position:absolute;left:610px;top:220px;width:500px"><font size="2" face="Times">WEDNESDAY SEPTEMBER 22, 2010</font></a></p>
<p><a style="position:absolute;left:155px;top:170px;width:500px"><font size="4" face="Times">Return on green capital investment for you.</font></a></p>

