  <%= render :partial => 'welcome/header' %>
  
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:160px;top:80px" >/ r e f r e s h /</a>
    </p>



<p><a style="position:absolute;left:620px;top:200px;width:500px"><font size="2" face="Times">TUESDAY OCTOBER 12, 2010</font></a></p>
<p><a style="position:absolute;left:95px;top:250px;width:570px"><font size="4" face="Times">Building maximum sustainable design quality end user community experience.</font></a></p>



<p><a style="display:none">Find me in app/views/place/index.html.erb</a></p>