  <%= render :partial => 'welcome/header' %>
	
    <p>
      <a 
       style="font-family:arial;color:darkblue;position:absolute;left:20px;top:50px" ><b> r e f r e s h</b></a>
    </p>


<p><a style="display:none;position:absolute;left:140px;top:110px;width:600px"><font size="2" face="Times">____________</font></a></p>


<p><img style="display:none;position:absolute;left:470px;top:175px" src="images/1JPGC.jpg" height=20 width=220 /></p>



<p><img style="display:none;border:none;position:absolute;left:310px;top:280px" src="images/2JPGB.jpg" height=17 width=120 /></p>
<p style="display:none;position:absolute;left:80px;top:370px">discipline integration</p>
<p style="display:none;position:absolute;left:80px;top:400px">ledalux</p>

<p><img style="display:none;border:none;position:absolute;left:720px;top:250px" src="images/3JPGD.jpg" height=17 width=140 /></p>
<p><img style="display:none;border:none;position:absolute;left:50px;top:320px" src="images/4JPGB.jpg" height=22 width=200 /></p>
<p><a style="display:none">Find me in app/views/value/index.html.erb
  Smart grid oriented interpretation of project construction standards </a></p>

