  <%= render :partial => 'welcome/header' %>
	
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:160px;top:80px" >/ r e f r e s h /</a>
    </p>


<p><a style="display:none">Find me in app/views/value/index.html.erb</a></p>



<p><a style="position:absolute;left:415px;top:200px;width:500px"><font size="2" face="Times">FRIDAY OCTOBER 15, 2010</font></a></p>

<p><a style="position:absolute;left:95px;top:250px;width:700px"><font size="4" face="Times">Smart grid oriented interpretation of project construction standards.</font></a></p>


 

