  <%= render :partial => 'welcome/header' %>
	
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:130px;top:80px" >/ r-e-s-o-u-r-c-e-s /</a>
    </p>


<p><a style="display:none">Find me in app/views/value/index.html.erb</a></p>

<p><a style="position:absolute;left:435px;top:220px;width:500px"><font size="2" face="Times">THURSDAY OCTOBER 7, 2010</font></a></p>

<p><a style="position:absolute;left:25px;top:170px;width:540px"><font size="4" face="Times">Project program that optimizes building automation to save energy for you.</font></a></p>


 

