<div id="position13">
  <ul class="menu">
    <li>
      <a 
      style="position:absolute;top:50px;width:400px" target="_blank"><img style="border:none" src="images/iap13.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:-180px;width:800px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:550px;top:190px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', tu_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>D I G I T A L &nbsp H O L O G R A P H I C &nbsp P R I N T S</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:210px;top:150px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', root_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>P A R A B U I L D I N G</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:52px;color:#C0C0C0;position:absolute;left:120px;top:260px;width:520px">D R A F T I N G</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:140px;top:310px;width:130px"><i>4 / 12 / 2011</i></p></em>
</li>     

  </ul>
  
  <p style="position:absolute;left:610px;top:480px;color:#333300"><==</p>
  
  <p><%= link_to '<img style="border:none;position:absolute;left:616px;top:94px" src="images/button-b4ea.jpg" height=21 width=28 /></img>', root_path %></p>
  

</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>
