<ol>
    <p>
      <a 
       style="color:#3366FF;position:absolute;left:-44.5em;top:-17.5em" >click to refresh</a>
    </p>
    <p>
      <a 
       style="position:absolute;left:-22em;top:5em" href="http://www.renewableenergyfocus.com/view/5312/dow-unveils-powerhouse-solar-shingle-for-bipv/" target="_blank">roof</a>
    </p>
    <p>
      <a 
       style="position:absolute;left:5em;top:5em" href="http://discoverlosangeles.com/play/activities-and-recreation/points-of-interest/la-s-cutting-edge-architecture.html" target="_blank">LA</a>
    </p>
    <p>
      <a 
       style="position:absolute;left:-20em;top:2em" href="http://www.chi-athenaeum.org/" target="_blank">cause</a>
    </p>
        <p>
      <a 
       style="position:absolute;left:-5em;top:2em" href="http://www.poets.org/page.php/prmID/382" target="_blank">words</a>
    </p>
</ol>