  <%= render :partial => 'welcome/header' %>

    <p>
      <a 
       style="color:#3366FF;position:absolute;left:160px;top:80px" >/ r e f r e s h /</a>
    </p>

<p><a style="position:absolute;left:690px;top:200px;width:500px"><font size="2" face="Times">MONDAY OCTOBER 18, 2010</font></a></p>
<p><a style="position:absolute;left:95px;top:250px;width:600px"><font size="4" face="Times">Economized integration of project programming.</font></a></p>


