  <%= render :partial => 'welcome/header' %>

    <p>
      <a 
       style="color:#3366FF;position:absolute;left:160px;top:80px" >/ r e f r e s h /</a>
    </p>

<p><a style="position:absolute;left:690px;top:200px;width:500px"><font size="2" face="Times">MONDAY OCTOBER 18, 2010</font></a></p>
<p><a style="position:absolute;left:95px;top:250px;width:600px"><font size="4" face="Times">Economized integration of project programming.</font></a></p>


      <p><a style="position:absolute;left:430px;top:370px;width:120px;color:blue"><font size="3" face="Times">powered by:</font></a></p>
  
    <p><a style="position:absolute;left:540px;top:370px;width:120px;color:blue" "href=mailto:inspired@architellect.com"><img style="border:none" src="images/POWEREDBY.jpg" height=100 width=170 /></a></p>
