  <%= render :partial => 'welcome/header' %>



<p><a style="position:absolute;left:700px;top:220px;width:500px"><font size="2" face="Times">WEDNESDAY SEPTEMBER 22, 2010</font></a></p>
<p><a style="position:absolute;left:185px;top:170px;width:500px"><font size="4" face="Times">Renewable connection to you.</font></a></p>




<p><a style="display:none">Find me in app/views/ecology/index.html.erb</a></p>