<div id="position11">
  <ul class="menu"> 

    <li><%= link_to '<img style="position:absolute;left:190px;top:200px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', rc_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>B R O W N F I E L D S &nbsp A N D &nbsp L A N D &nbsp R E V I T A L I Z A T I O N</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:750px;top:150px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', y_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:115px;width:850px;color:#333300"><i>A R C H I T E C T U R E &nbsp 2 0 3 0</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:35px;color:#FFFFE0;position:absolute;left:-140px;top:340px;width:500px">Q U A L I T Y</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:370px;top:360px;width:130px"><i>4 / 12 / 2011</i></p></em>
</li>     

  </ul>
  

<p><%= link_to '<img style="display:none;border:none;position:absolute;left:536px;top:94px" src="images/button-st2ea.jpg" height=21 width=28 /></img>', root_path %></p>


</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>
