<div id="position1">


  <ul class="menu">
    <li> 
      <a 
      style="position:absolute;top:50px;width:400px" target="_blank"><img style="border:none" src="images/iap1.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:280px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
    </li>

    <li><p style="display:none"></p><%= link_to '<img style="position:absolute;left:350px;top:190px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', h_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>R E T U R N &nbsp O N &nbsp I N V E S T M E N T</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:52px;color:#C0C0C0;position:absolute;left:30px;top:260px;width:500px">V A L U E</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:170px;top:310px;width:130px"><i>4 / 7 / 2011</i></p></em>
</li>     

  </ul>
<p><%= link_to '<img style="border:none;position:absolute;left:136px;top:92px" src="images/button-s1.jpg" height=21 width=28 /></img>', root_path %></p>
  
  <p style="position:absolute;left:90px;top:480px;color:#333300"><==</p>


</div>



<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>