<div id="position1">


  <ul class="menu">

    <li><%= link_to '<img style="position:absolute;left:180px;top:80px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', ec_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>B U I L D I N G &nbsp E N V E L O P E &nbsp T H E R M A L &nbsp I S O L A T I O N</i></p></em>
    </li>

    <li><%= link_to '<img style="position:absolute;left:770px;top:90px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', i_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>P A R A M E T R I C &nbsp B U I L D I N G &nbsp I N F O R M A T I O N &nbsp  M O D E L</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:52px;color:#C0C0C0;position:absolute;left:30px;top:260px;width:500px">V A L U E</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:170px;top:310px;width:130px"><i>4 / 12 / 2011</i></p></em>
</li>     

  </ul>
<p><%= link_to '<img style="border:none;position:absolute;left:136px;top:92px" src="images/button-s1.jpg" height=21 width=28 /></img>', root_path %></p>
  
  <p style="position:absolute;left:90px;top:480px;color:#333300"><==</p>


</div>



<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>