<div id="position5">
  <ul class="menu">

    <li><p style="display:none">3 D</p><%= link_to '<img style="position:absolute;left:120px;top:150px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', r_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300"><i>I N S T A N T A N E O U S &nbsp 3 D &nbsp D I G I T I Z A T I O N</i></p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:52px;color:#C0C0C0;position:absolute;left:100px;top:260px;width:500px">S Y S T E M S</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:130px;top:310px;width:130px"><i>4 / 12 / 2011</i></p></em>
</li>     
    
  </ul>

  <p style="position:absolute;left:300px;top:480px;color:#333300"><==</p>

<p><%= link_to '<img style="border:none;position:absolute;left:296px;top:92px" src="images/button-m2a.jpg" height=21 width=28 /></img>', root_path %></p>

</div>



<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>