<div id="position6">
  <ul class="menu">
    <li>    
      <a 
      style="position:absolute;top:50px;width:400px" target="_blank"><img style="border:none" src="images/iap6.jpg" height=200 width=880 /></a>		
      <em><p align="center" style="display:none;position:absolute;left:20px;top:-180px;width:1000px">C l i c k &nbsp t o &nbsp C r e a t e &nbsp<font color="#006400"> Y o u r &nbsp</font> A r c h i t e c t u r e</p></em>
     </li>

    <li><%= link_to '<img style="position:absolute;left:250px;top:170px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', rg_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:15px;top:10px;width:850px;color:#333300">L O C A L &nbsp E N E R G Y &nbsp C O M M U N I T I E S<i>&nbsp</i></p></em>
    </li>

    <li><p style="display:none">T-U-R-B-I-N-E</p><%= link_to '<img style="position:absolute;left:450px;top:220px;border:none" src="images/NET.jpg" height=17 width=20 /></img>', en_path %>
    <em><p align="center" style="font-family:arial;position:absolute;left:10px;top:10px;width:850px;color:#333300"><i>A M E R I C A N &nbsp I N S T I T U T E &nbsp O F &nbsp A R C H I T E C T S &nbsp R E G I O N A L &nbsp D E S I G N &nbsp R E V O L U T I O N</i></p></em>
    </li>

    <li>
    <a style="display:none;position:absolute;left:150px;top:40px;color:green;width:5px" href="http://www.idg.com/www/pr.nsf/PressHome?ReadForm" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></font></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">business intelligence</p></em>
    </li>

    <li>
    <a style="display:none;position:absolute;left:550px;top:-160px;color:green;width:5px" href="http://calpolycsi.co.cc/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">span</p></em>
    </li>

    <li>
    <a style="display:none;position:absolute;left:320px;top:-120px;color:green;width:5px" href="http://www.duo-gard.com/" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">manufactured</p></em>
    </li>
    
    <li>
    <a style="display:none;position:absolute;left:150px;top:-110px;color:green;width:5px" href="http://www.greenbuildingpro.com/news/89-green-news/2535-newest-version-of-thermal-comfort-standard-provides-new-provisions-on-elevated-air-speeds" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">span</p></em>
    </li>    
    
    <li>
    <a style="display:none;position:absolute;left:650px;top:-210px;color:green;width:5px" href="http://www.yrgsustainability.com/services/BPM120210.jsp" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">span</p></em>
    </li>

    <li>
    <a style="display:none;position:absolute;left:750px;top:-60px;color:green;width:5px" href="http://vimeo.com/11098033" target="_blank"><img style="border:none" src="images/NET.jpg" height=17 width=20 /></a>
    <em><p align="center" style="position:absolute;left:15px;top:-270px;width:850px;color:#333300">span</p></em>
    </li>

    <li>    
<%= link_to '<p style="text-align:right;font-family:arial;font-size:52px;color:#C0C0C0;position:absolute;left:80px;top:260px;width:500px">E C O L O G Y</p>', root_path %>
  <em><p align="left" style="font-size:20px;color:#333300;font-family:arial;position:absolute;left:130px;top:310px;width:130px"><i>4 / 7 / 2011</i></p></em>
</li>     
 
  </ul>
  <p style="font-family:arial;position:absolute;left:330px;top:480px;color:#333300;width:150px"><==</p>

<p><%= link_to '<img style="border:none;position:absolute;left:336px;top:94px" src="images/button-5ea.jpg" height=21 width=28 /></img>', root_path %></p>

</div>

<script>
$(".menu a").hover(function() {
	$(this).next("em").animate({opacity: "show", top: "-1"}, "fast");
}, function() {
	$(this).next("em").animate({opacity: "hide", top: "-1"}, "fast");
});
</script>